<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проект номер два</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/libs.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media.css">
  </head>
  <body>
    <!-- Вратце обо мне, если хочешь увидеть раскоментируй (Есть ошибки и неправильность написанного, я всё таки не писатель, и опять же есть куда совершенствоваться=) ) -->
    <!-- <section class="about-me">
      <div class="container">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-3">
                <div class="item-work">
                  <div class="img">
                    <img src="img/me.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <div class="about">
                  <h2>Сергей Гаскаров</h2>
                  <span>Верстальщик</span>
                  <p>С 14 лет я увлекался творческими занятиями, а именно версткой. В то время все сайты были только на таблицах, занимался этим я не долго, на то были свои причины. В отличии от других я тогда уже думал об адаптиве чего не было возможно, что жутко напрягало.
                    После почти 10 лет, решил снова попробовать верстать, начал я с малого, вёрстка email. Самая первая моя работа впечатлила меня
                    т.к. она была сверстана таблицами, да и ещё ко всему адаптивная. После 5 свёрстанных email'ов я понял что есть куда совершенствоваться
                    и первая работа у меня не самая лучшая. Спустя какое то время я перешел на лендинги. Это было велеколепно, т.к. там больше простора
                    для вёрстки и творчества, за моими плечами пока 3 работы, и уже не маленький опыт, но опять же, я знаю что есть куда совершенствоваться. <br>Сейчас работу выполняю качественно и чисто, да бывают погрешности, но у кого их нет?</p>
                </div>
                <div class="social">
                  <a href=""><i class="fa fa-vk"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                  <a href=""><i class="fa fa-instagram"></i></a>
                  <a href=""><i class="fa fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </section> -->
    <section class="works">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 hidden-sm">
            <div class="brd"></div>
          </div>
          <div class="col-md-4">
            <div class="descr-center">
              <h2>Мои работы</h2>
            </div>
          </div>
          <div class="col-md-4 hidden-sm">
            <div class="brd"></div>
          </div>
        </div>
        <div class="row">
          <div class="center">
            <div class="item-work">
              <div class="img">
                <img src="img/works/1.jpg" alt="">
              </div>
              <div class="descr">
                <h3>Вёрстка email письма</h3>
                <a href="#works-1" class="open-link">Посмотреть</a>
              </div>
            </div>
            <div class="item-work">
              <div class="img">
                <img src="img/works/2.jpg" alt="">
              </div>
              <div class="descr">
                <h3>Вёрстка email письма</h3>
                <a href="#works-2" class="open-link">Посмотреть</a>
              </div>
            </div>
            <div class="item-work">
              <div class="img">
                <img src="img/works/3.jpg" alt="">
              </div>
              <div class="descr">
                <h3>Вёрстка email письма</h3>
                <a href="#works-3" class="open-link">Посмотреть</a>
              </div>
            </div>
            <div class="item-work">
              <div class="img">
                <img src="img/works/4.jpg" alt="">
              </div>
              <div class="descr">
                <h3>Вёрстка email письма</h3>
                <a href="#works-4" class="open-link">Посмотреть</a>
              </div>
            </div>
            <div class="item-work">
              <div class="img">
                <img src="img/works/5.jpg" alt="">
              </div>
              <div class="descr">
                <h3>Вёрстка email письма</h3>
                <a href="#works-5" class="open-link">Посмотреть</a>
              </div>
            </div>
          </div>
          <div class="center item-mar">
            <div class="item-work">
              <div class="img">
                <img src="img/works/6.jpg" alt="">
              </div>
              <div class="descr">
                <h3>Вёрстка email письма</h3>
                <a href="#works-6" class="open-link">Посмотреть</a>
              </div>
            </div>
            <div class="item-work">
              <div class="img">
                <img src="img/works/7.jpg" alt="">
              </div>
              <div class="descr">
                <h3>Вёрстка email письма</h3>
                <a href="#works-7" class="open-link">Посмотреть</a>
              </div>
            </div>
            <div class="item-work">
              <div class="img">
                <img src="img/works/8.jpg" alt="">
              </div>
              <div class="descr">
                <h3>Вёрстка email письма</h3>
                <a href="#works-8" class="open-link">Посмотреть</a>
              </div>
            </div>
            <div class="item-work">
              <div class="img">
                <img src="img/works/9.jpg" alt="">
              </div>
              <div class="descr">
                <h3>Вёрстка email письма</h3>
                <a href="#works-9" class="open-link">Посмотреть</a>
              </div>
            </div>
            <div class="item-work">
              <div class="img">
                <img src="img/works/10.jpg" alt="">
              </div>
              <div class="descr">
                <h3>Вёрстка email письма</h3>
                <a href="#works-10" class="open-link">Посмотреть</a>
              </div>
            </div>
            <div class="item-work">
              <div class="img">
                <img src="img/works/11.jpg" alt="">
              </div>
              <div class="descr">
                <h3>Вёрстка Landing-page</h3>
                <a href="#works-11" class="open-link">Посмотреть</a>
              </div>
            </div>
          </div>
          <div class="center item-mar">
            <div class="item-work">
              <div class="img">
                <img src="img/works/12.jpg" alt="">
              </div>
              <div class="descr">
                <h3>Вёрстка Landing-page</h3>
                <a href="#works-12" class="open-link">Посмотреть</a>
              </div>
            </div>
            <div class="item-work">
              <div class="img">
                <img src="img/works/13.jpg" alt="">
              </div>
              <div class="descr">
                <h3>Вёрстка Landing-page</h3>
                <a href="#works-13" class="open-link">Посмотреть</a>
              </div>
            </div>
            <div class="item-work">
              <div class="img">
                <img src="img/works/14.jpg" alt="">
              </div>
              <div class="descr">
                <h3>Анимация</h3>
                <a href="#works-14" class="open-link">Посмотреть</a>
              </div>
            </div>
          </div>
          <!-- works hide -->
          <div id="works-1" class="hide-works mfp-hide">
            <div class="item-work">
              <div class="img">
                <img src="img/works/1.jpg" alt="">
              </div>
            </div>
            <div class="descr-item">
              <h3>Вёрстка email письма</h3>
              <h4>p2h Email Template</h4>
              <p>По шаблону:</p>
              <ul>
                <li>Валидный HTML W3C Valid</li>
                <li>Встроенный(inline) CSS</li>
                <li>HTML 4.01</li>
                <li>Адаптивный и кроссбраузерный</li>
              </ul>
              <small>* Макет был найдет в просторах интернета и использовался в вёрстке исключительно в образовательных целях.</small>
              <a class="button" target="_blank" href="https://seregags.github.io/Email-Templates/p2h_Email_Template/email.html">Посмотреть работу</a>
            </div>
          </div>
          <div id="works-2" class="hide-works mfp-hide">
            <div class="item-work">
              <div class="img">
                <img src="img/works/2.jpg" alt="">
              </div>
            </div>
            <div class="descr-item">
              <h3>Вёрстка email письма</h3>
              <h4>Boxi</h4>
              <p>По шаблону:</p>
              <ul>
                <li>Валидный HTML W3C Valid</li>
                <li>Встроенный(inline) CSS</li>
                <li>XHTML 1.0</li>
                <li>Адаптивный и кроссбраузерный</li>
              </ul>
              <small>* Макет был найдет в просторах интернета и использовался в вёрстке исключительно в образовательных целях.</small>
              <a class="button" target="_blank" href="https://seregags.github.io/Email-Templates/Boxi/email.html">Посмотреть работу</a>
              <a class="button" target="_blank" href="https://youtu.be/hNExl3W0iuw">Посмотреть видео</a>
            </div>
          </div>
          <div id="works-3" class="hide-works mfp-hide">
            <div class="item-work">
              <div class="img">
                <img src="img/works/3.jpg" alt="">
              </div>
            </div>
            <div class="descr-item">
              <h3>Вёрстка email письма</h3>
              <h4>Galaxy Modern Email</h4>
              <p>По шаблону:</p>
              <ul>
                <li>Валидный HTML W3C Valid</li>
                <li>Встроенный(inline) CSS</li>
                <li>XHTML 1.0</li>
                <li>Адаптивный и кроссбраузерный</li>
              </ul>
              <small>* Макет был найдет в просторах интернета и использовался в вёрстке исключительно в образовательных целях.</small>
              <a class="button" target="_blank" href="https://seregags.github.io/Email-Templates/Galaxy-Modern-Email/email-template.html">Посмотреть работу</a>
            </div>
          </div>
          <div id="works-4" class="hide-works mfp-hide">
            <div class="item-work">
              <div class="img">
                <img src="img/works/4.jpg" alt="">
              </div>
            </div>
            <div class="descr-item">
              <h3>Вёрстка email письма</h3>
              <h4>Odin Newsletter</h4>
              <p>По шаблону:</p>
              <ul>
                <li>Валидный HTML W3C Valid</li>
                <li>Встроенный(inline) CSS</li>
                <li>XHTML 1.0</li>
                <li>Адаптивный и кроссбраузерный</li>
              </ul>
              <small>* Макет был найдет в просторах интернета и использовался в вёрстке исключительно в образовательных целях.</small>
              <a class="button" target="_blank" href="https://seregags.github.io/Email-Templates/Odin-Newsletter/email.html">Посмотреть работу</a>
            </div>
          </div>
          <div id="works-5" class="hide-works mfp-hide">
            <div class="item-work">
              <div class="img">
                <img src="img/works/5.jpg" alt="">
              </div>
            </div>
            <div class="descr-item">
              <h3>Вёрстка email письма</h3>
              <h4>Passion</h4>
              <p>По шаблону:</p>
              <ul>
                <li>Валидный HTML W3C Valid</li>
                <li>Встроенный(inline) CSS</li>
                <li>XHTML 1.0</li>
                <li>Адаптивный и кроссбраузерный</li>
              </ul>
              <small>* Макет был найдет в просторах интернета и использовался в вёрстке исключительно в образовательных целях.</small>
              <a class="button" target="_blank" href="https://seregags.github.io/Email-Templates/Passion/email.html">Посмотреть работу</a>
            </div>
          </div>
          <div id="works-6" class="hide-works mfp-hide">
            <div class="item-work">
              <div class="img">
                <img src="img/works/6.jpg" alt="">
              </div>
            </div>
            <div class="descr-item">
              <h3>Вёрстка email письма</h3>
              <h4>eCommerce-Email-Template</h4>
              <p>По шаблону:</p>
              <ul>
                <li>Валидный HTML W3C Valid</li>
                <li>Встроенный(inline) CSS</li>
                <li>XHTML 1.0</li>
                <li>Адаптивный и кроссбраузерный</li>
              </ul>
              <small>* Макет был найдет в просторах интернета и использовался в вёрстке исключительно в образовательных целях.</small>
              <a class="button" target="_blank" href="https://seregags.github.io/Email-Templates/eCommerce-Email-Template/email-template.html">Посмотреть работу</a>
            </div>
          </div>
          <div id="works-7" class="hide-works mfp-hide">
            <div class="item-work">
              <div class="img">
                <img src="img/works/7.jpg" alt="">
              </div>
            </div>
            <div class="descr-item">
              <h3>Вёрстка email письма</h3>
              <h4>email fleenace</h4>
              <p>По шаблону:</p>
              <ul>
                <li>Валидный HTML W3C Valid</li>
                <li>Встроенный(inline) CSS</li>
                <li>XHTML 1.0</li>
                <li>Адаптивный и кроссбраузерный</li>
              </ul>
              <small>* Макет был найдет в просторах интернета и использовался в вёрстке исключительно в образовательных целях.</small>
              <a class="button" target="_blank" href="https://seregags.github.io/Email-Templates/email-fleenace/email.html">Посмотреть работу</a>
              <a class="button" target="_blank" href="https://youtu.be/j2OgDywCxh0">Посмотреть видео</a>
            </div>
          </div>
          <div id="works-8" class="hide-works mfp-hide">
            <div class="item-work">
              <div class="img">
                <img src="img/works/8.jpg" alt="">
              </div>
            </div>
            <div class="descr-item">
              <h3>Вёрстка email письма</h3>
              <h4>email newsletter template</h4>
              <p>По шаблону:</p>
              <ul>
                <li>Валидный HTML W3C Valid</li>
                <li>Встроенный(inline) CSS</li>
                <li>XHTML 1.0</li>
                <li>Адаптивный и кроссбраузерный</li>
              </ul>
              <small>* Макет был найдет в просторах интернета и использовался в вёрстке исключительно в образовательных целях.</small>
              <a class="button" target="_blank" href="https://seregags.github.io/Email-Templates/email-newsletter-template-I/email.html">Посмотреть работу</a>
            </div>
          </div>
          <div id="works-9" class="hide-works mfp-hide">
            <div class="item-work">
              <div class="img">
                <img src="img/works/9.jpg" alt="">
              </div>
            </div>
            <div class="descr-item">
              <h3>Вёрстка email письма</h3>
              <h4>Hola</h4>
              <p>По шаблону:</p>
              <ul>
                <li>Валидный HTML W3C Valid</li>
                <li>Встроенный(inline) CSS</li>
                <li>XHTML 1.0</li>
                <li>Адаптивный и кроссбраузерный</li>
              </ul>
              <small>* Макет был найдет в просторах интернета и использовался в вёрстке исключительно в образовательных целях.</small>
              <a class="button" target="_blank" href="https://seregags.github.io/Email-Templates/freebie/email.html">Посмотреть работу</a>
            </div>
          </div>
          <div id="works-10" class="hide-works mfp-hide">
            <div class="item-work">
              <div class="img">
                <img src="img/works/10.jpg" alt="">
              </div>
            </div>
            <div class="descr-item">
              <h3>Вёрстка email письма</h3>
              <h4>Elena</h4>
              <p>По шаблону:</p>
              <ul>
                <li>Валидный HTML W3C Valid</li>
                <li>Встроенный(inline) CSS</li>
                <li>XHTML 1.0</li>
                <li>Адаптивный и кроссбраузерный</li>
              </ul>
              <small>* Макет был найдет в просторах интернета и использовался в вёрстке исключительно в образовательных целях.</small>
              <a class="button" target="_blank" href="https://seregags.github.io/Email-Templates/htmlinline/email.html">Посмотреть работу</a>
            </div>
          </div>
          <div id="works-11" class="hide-works mfp-hide">
            <div class="item-work">
              <div class="img">
                <img src="img/works/11.jpg" alt="">
              </div>
            </div>
            <div class="descr-item">
              <h3>Вёрстка Landing-page</h3>
              <h4>Миграционный адвокат</h4>
              <p>По шаблону:</p>
              <ul>
                <li>Валидный HTML W3C Valid</li>
                <li>HTML5, CSS3</li>
                <li>Адаптивный и кроссбраузерный</li>
              </ul>
              <small>* Макет предоставлен компанией intenta, для дальнейшей вёрстки.</small>
              <a class="button" target="_blank" href="https://seregags.github.io/Works-Intenta/works/pavel_kozlov_mig/index.html">Посмотреть работу</a>
            </div>
          </div>
          <div id="works-12" class="hide-works mfp-hide">
            <div class="item-work">
              <div class="img">
                <img src="img/works/12.jpg" alt="">
              </div>
            </div>
            <div class="descr-item">
              <h3>Вёрстка Landing-page</h3>
              <h4>Friday - Рекламная компания</h4>
              <p>По шаблону:</p>
              <ul>
                <li>Валидный HTML W3C Valid</li>
                <li>HTML5, CSS3</li>
                <li>Неадаптивный (по желанию клиента)</li>
              </ul>
              <small>* Макет предоставлен клиентом компаниии intenta, для дальнейшей вёрстки.</small>
              <a class="button" target="_blank" href="https://seregags.github.io/Works-Intenta/works/freeday-advertising-campaign/index.html">Посмотреть работу</a>
            </div>
          </div>
          <div id="works-13" class="hide-works mfp-hide">
            <div class="item-work">
              <div class="img">
                <img src="img/works/13.jpg" alt="">
              </div>
            </div>
            <div class="descr-item">
              <h3>Вёрстка Landing-page</h3>
              <h4>TanatosStudio</h4>
              <p>По шаблону:</p>
              <ul>
                <li>Валидный HTML W3C Valid</li>
                <li>HTML5, CSS3</li>
                <li>Адаптивный и кроссбраузерный</li>
              </ul>
              <small>* Макет был найдет в просторах интернета и использовался в вёрстке исключительно в образовательных целях.</small>
              <a class="button" target="_blank" href="https://seregags.github.io/my-works/works/layouts/tanatos_studio/index.html">Посмотреть работу</a>
            </div>
          </div>
          <div id="works-14" class="hide-works mfp-hide">
            <div class="item-work">
              <div class="img">
                <img src="img/works/14.jpg" alt="">
              </div>
            </div>
            <div class="descr-item">
              <h3>Анимация</h3>
              <h4>Фермер</h4>
              <p>Мой первый опыт анимации</p>
              <p>По шаблону:</p>
              <ul>
                <li>Валидный HTML W3C Valid</li>
                <li>HTML5, CSS3</li>
              </ul>
              <small>* Макет был пердоставлен другом <a href="https://vk.com/id5492011" target="_blank">Никита Витол</a>.</small>
              <a class="button" target="_blank" href="https://seregags.github.io/my-works/works/animation/farmer/index.html">Посмотреть работу</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 hidden-sm">
            <div class="brd"></div>
          </div>
          <div class="col-md-6">
            <div class="brd"></div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="social">
        <a href="https://vk.com/id79543132" target="_blank"><i class="fa fa-vk"></i></a>
        <a href="https://www.linkedin.com/profile/preview?locale=ru_RU&trk=prof-0-sb-preview-primary-button" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/SeregaGS" target="_blank"><i class="fa fa-github-alt"></i></a>
        <a href="https://www.youtube.com/user/MrCuctus" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>
    </footer>
    <script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
