@import 'fonts'
@import 'color'

/* 1. Основные CSS */
body
  font-size: 1rem
  line-height: 1.5
  min-width: 18.75rem
  overflow-x: hidden
a
  &:hover,
  &:focus
    text-decoration: none
    outline: none
nav
  font-family: "RobotoSlab-Bold"
  ul
    list-style-type: none
    margin-bottom: 0
    padding-left: 0
    li
      display: inline-block
.center
  text-align: center
.button
  display: inline-block
  font-size: 0.875rem
  text-transform: uppercase
  color: $color-text-white
  padding: 1.125rem 3.75rem
  border-radius: 0.1875rem
  border: 0.16rem solid $color-button
  position: relative
  z-index: 1
  overflow: hidden
  margin-top: 1.875rem
  letter-spacing: 0.05rem
  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: $color-button
    z-index: -2
  &::after
    content: ""
    position: absolute
    top: 0
    right: -21.25rem
    width: 19.75rem
    height: 5rem
    background-color: $color-text-white
    z-index: -1
    transition: right 0.5s ease
    transform: skewX(-48deg)
  &:hover, &:focus
    color: $color-button
    &::after
      right: -0.5rem
/* 2. Типографика */
h1
  font-family: "RobotoSlab-Bold"
  font-size: 3rem
h2
  font-family: "RobotoSlab-Bold"
  font-size: 2.75rem
h3
  font-family: "RobotoSlab-Bold"
  font-size: 1.75rem
p
  font-family: "OpenSans-Regular"
  font-size: 1rem
  line-height: 1.5rem
  margin-bottom: 0
a
  font-family: "RobotoSlab-Bold"
/* 3. Переопределение */
.container-fluid
  max-width: 95.63rem
.owl-pagination
  width: 100%
  text-align: center
  .owl-page
    width: 0.9375rem
    height: 0.9375rem
    border-radius: 50%
    border: 0.1875rem solid $color-text-white
    display: inline-block
    margin: 0 0.25rem
  .active
    background-color: $color-text-white
.owl-buttons
  position: relative
  top: -22rem
  max-width: 95.63rem
  margin: 0 auto
  height: 1.875rem
.owl-prev, .owl-next
  position: absolute
  width: 1.875rem
  height: 1.875rem
  background-image: url(../img/arrow.svg)
  background-repeat: no-repeat
.owl-prev
  left: 15px
.owl-next
  right: 15px
  transform: rotate(180deg)
button
  background: transparent
  border: 0
#privacy-policy.forms-popup
  max-width: 660px
  .form-title
    h3
      font-size: 2rem
      text-align: left
  p
    font-size: 0.9rem
    margin: 16px 0
.ymaps-2-1-47-svg-icon
  background-image: url(../img/map-marker-icon.png) !important
  background-size: 39px 39px !important
  height: 39px !important
.ymaps-2-1-47-inner-panes
  filter: grayscale(1)
  transition: filter 1s ease
  &:hover
    filter: grayscale(0)
#name-error, #tel-error
  font-size: 0.8rem
  color: red
/* 4. Header */
.header-top
  background-image: url(../img/bg/header-lg.jpg)
  background-repeat: no-repeat
  background-size: cover
  overflow: hidden
.menu-wrapp-overlay
  background-color: $color-overlay-65
  padding: 2.188rem
  color: $color-text-white
.logo
  display: inline-block
  position: relative
  &:hover
    .logo-name
      color: $color-letter
    .logo-name-letter
      color: $color-text-white
    .logo-img
      transform: rotate(13800deg)
.logo-img
  position: absolute
  width: 1.563rem
  left: -1.125rem
  top: -0.3125rem
  transform: rotate(38deg)
  transition: transform 10s ease
.logo-name
  color: $color-text-white
  font-size: 1.5rem
  transition: color 0.4s ease
.logo-name-letter
  color: $color-letter
  transition: color 0.4s ease
.navigation-wrapp
  text-align: center
  width: 100%
  float: left
.navigation-wrapp-link
  width: 80%
  display: inline-block
.navigation-link
  display: block
  position: relative
  color: $color-text-white
  line-height: 2.25rem
  padding: 0 0.9375rem
  transition: color 0.3s ease
  &:hover
    color: $color-button
    text-decoration: underline
  &:active
    color: $color-button
    text-decoration: underline
  &:focus
    color: $color-button
  &::before
    content: ""
    position: absolute
    top: 50%
    left: -0.3125rem
    margin-top: -0.1875rem
    width: 0.443rem
    height: 0.443rem
    background-color: $color-text-white
    transform: rotate(45deg)
.navigation
  &:last-child
    .navigation-link
      &::after
        content: ""
        position: absolute
        top: 50%
        right: -0.3125rem
        margin-top: -0.1875rem
        width: 0.443rem
        height: 0.443rem
        background-color: $color-text-white
        transform: rotate(45deg)
.number
  float: right
  width: 20%
  .fa-phone-square
    font-size: 1.313rem
    margin-right: 0.625rem
.number-link
  font-family: "OpenSans-Regular"
  font-size: 1.125rem
  line-height: 2.25rem
  color: $color-text-white
  transition: color 0.2s ease
  position: relative
  &:hover, &:focus
    color: $color-button
.overlay-header-top
  background-color: $color-overlay-45
  height: inherit
  padding: 10rem 0 6rem 0
/* 4.1 Burger */
.burger-wrap
  position: relative
  float: right
  z-index: 12
  width: 28px
  height: 16px
  cursor: pointer
  display: none
  margin-top: 10px
  div
    background-color: #fff
    &:nth-child(1)
      height: 2px
    &:nth-child(2)
      margin-top: 5px
      height: 2px
    &:nth-child(3)
      margin-top: 5px
      height: 2px
.burger-wrap-close
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 16
  width: 90%
  padding: 1.8rem
  height: 22px !important
  margin: 0 auto
  display: none
  cursor: pointer
.burger-close
  width: 28px
  height: 22px
  float: right
  position: relative
  top: 7px
  right: 10px
  div
    background-color: #fff
    position: absolute
    top: 10px
    &:nth-child(1)
      height: 2px
      width: 100%
      transform: rotate(45deg)
      margin-top: 0
    &:nth-child(2)
      width: 100%
      height: 2px
      transform: rotate(-45deg)
/* 4.2 Banner */
.carousel-item
  text-align: center
.carousel-item-img
  margin-left: 7.5rem
  max-width: 100%
.carousel-item-description
  color: $color-text-white
  padding: 3.75rem 0
  margin-right: 7.5rem
  text-align: left
  h1
    margin-bottom: 1.25rem
.hidden-carousel-button
  display: none
  text-align: center
  .button
    &::before
      transition: background-color 0.2s ease
    &:hover
      &::before
        background-color: transparent
      &::after
        right: -21.25rem
/* 5.Products */
.products-wrapp
  width: 100%
  background-image: url(../img/bg/section-product-lg.jpg)
  background-repeat: no-repeat
  background-size: cover
.overlay-products-wrapp
  background-color: $color-overlay-white70
  height: inherit
.section-product-pad
  padding: 5rem 0
.section-title
  text-align: center
  margin-bottom: 1.875rem
  h2
    color: $color-text-wblack
    margin-bottom: 1.313rem
    position: relative
    &::before
      content: ""
      position: absolute
      margin-top: 1.3rem
      margin-left: -1.563rem
      width: 0.626rem
      height: 0.626rem
      background-color: $color-text-wblack
      transform: rotate(45deg)
    &::after
      content: ""
      position: absolute
      margin-top: 1.3rem
      margin-left: 0.8rem
      width: 0.626rem
      height: 0.626rem
      background-color: $color-text-wblack
      transform: rotate(45deg)
  p
    font-family: "OpenSans-Semibold"
    color: $color-text-wblack
    font-size: 1.125rem
    line-height: 1.5rem
    display: inline-block
    max-width: 62.5rem
    width: 100%
.prices
  display: block
  padding-top: 1rem
  text-align: right
  position: relative
  font-size: 1.2rem
  font-family: "OpenSans-ExtraBold"
  margin-right: 1.85rem
.prices-rub
  bottom: 2px
  right: -30px
  width: 24px
  height: 24px
  position: absolute
  background-image: url(../img/russia-ruble.svg)
  background-size: cover
.about-us-description-wrap
  padding-left: 0
  list-style-type: none
  li
    padding-top: 0.2rem
    padding-left: 1.5rem
    position: relative
    &::before
      content: ""
      position: absolute
      width: 0.443rem
      left: 6px
      top: 12px
      height: 0.443rem
      background-color: $color-overlay-blk80
      transform: rotate(45deg)
/* 5.1 Item */
.products-wrapp-item
  vertical-align: top
  margin: 1.875rem 1.25rem 0 1.25rem
  max-width: 28.25rem
  height: 41.06rem
  box-shadow: 0 0.1875rem 0.4375rem rgba(0,0,0,.35)
  background-color: $color-text-white
  display: inline-block
  .button
    &::after
      width: 22.75rem
      right: -24.25rem
    &:hover, &:focus
      color: $color-button
      &::after
        right: -2rem
.products-item-img-wrap
  background-image: url(../img/bg/products.jpg)
  background-size: cover
  width: 100%
  height: 16.88rem
  position: relative
.products-item-img-wrap-overlay
  background-color: $color-overlay-45
  height: inherit
  text-align: center
  padding: 2.625rem 0
.products-item-img
  height: 12.5rem
.products-item-description
  padding: 3.125rem
  text-align: center
  h3
    margin-bottom: 1.125rem
    text-align: left
  p
    font-size: 1rem
    font-family: "OpenSans-Regular"
    line-height: 1.25rem
    text-align: left
.button-wrapp
  display: inline-block
  position: relative
.products-item-img-review
  max-width: 12.5rem
  width: 100%
  left: 50%
  margin-left: -6.25rem
  position: absolute
  bottom: -1.563rem
/* 6. About us */
.about-us-wrapp
  .section-title
    h2
      margin-bottom: 50px
.about-us-img
  max-width: 100%
.about-us-description
  p
    padding-bottom: 22px
    font-size: 1rem
/* 7. Partners*/
.partners-wrapp
  background-image: url(../img/bg/slider1-bg1.jpg)
  background-size: cover
  color: $color-text-white
  .section-title
    h2
      margin-bottom: 50px
      color: $color-text-white
      &::before, &::after
        background-color: $color-text-white
  .about-us-description
    p
      text-align: right
  .button
    float: right
    border-color: $color-text-white
    &:hover
      color: rgb(8, 138, 182)
    &::before
      background-color: rgba(8, 138, 182, 0.8)
    &::after
      width: 22.75rem
      right: -24.25rem
    &:hover, &:focus
      &::after
        right: -2rem
.partners-wrapp-overlay
  background-color: rgba(0,136,181,.9)
  height: inherit
.clients-carousel-item
  padding: 0.5rem
  text-align: center
.partners-description-wrap-ul
  text-align: right
  padding-left: 0
  list-style-type: none
  li
    padding-top: 0.2rem
    padding-right: 1.5rem
    position: relative
    &::before
      content: ""
      position: absolute
      width: 0.443rem
      right: 6px
      top: 12px
      height: 0.443rem
      background-color: $color-text-white
      transform: rotate(45deg)
/* 8. Clients*/
.clients-wrapp
  .section-title
    h2
      margin-bottom: 50px
.clients-img
  max-width: 100%
  filter: grayscale(1)
  transition: filter 0.4s ease
  &:hover
    filter: grayscale(0)
/* 9. Contacts */
.contacts-wrapp
  position: relative
  height: 900px
  #map
    position: absolute
    top: 0
    width: 100%
    height: 100%
    z-index: 10
  .section-product-pad
    position: absolute
    left: 0
    right: 0
    z-index: 11
.form-wrapp
  width: 100%
  padding: 50px
  background-color: $color-text-white
.form-title
  text-align: center
  h3
    font-size: 36px
    margin-bottom: 1.5rem
.form
  input
    display: block
    width: 100%
    background-color: $color-text-wyellow
    border: 1px solid $color-button
    border-radius: 4px
    padding: 10px
    margin-top: 8px
    &:focus
      outline: none
  label
    display: block
    font-size: 16px
    font-family: "RobotoSlab-Bold"
  .form-email-help
    font-size: 14px
    font-family: "OpenSans-Regular"
    color: $color-copyright
  .button
    outline: none
    width: 100%
    cursor: pointer
    font-family: "RobotoSlab-Bold"
    &:focus
      outline: none
    &::before
      width: 100%
    &::after
      width: 35.75rem
      right: -37.25rem
    &:hover
      &::after
        right: -1.2rem
  sup
    color: red
.col-form-contacts
  float: right
  width: 27%
  display: inline-block
  position: absolute
  right: 5rem
/* 10. Footer */
.footer
  .section-product-pad
    padding: 2.5rem 0
.legal-address
  color: $color-copyright
.privacy-policy
  float: right
  &:hover
    border-bottom-color: $color-button
    .privacy-policy-link
      color: $color-button
.privacy-policy-link
  color: $color-copyright
  border-bottom: 1px dashed $color-copyright
/* 11. Popup */
.forms-popup
  position: relative
  max-width: 477px
  min-width: 290px
  margin: 0 auto
