.subscibes-wrap
  background-image: url(../img/bg-header2.jpg)
  background-size: cover
.subscribes
  padding: 5rem 0
  text-align: center
  input[type="email"]
    max-width: 35rem
    width: 100%
    border: none
    padding: 0 1.563rem
    height: 3.125rem
    border-radius: 0.5625rem
  input
    &:focus
      outline: none
.buttonS
  border: none
  background-color: $color-primary
  color: $color-body
  line-height: 50px
  padding: 0 49px
  border-radius: 9px
  width: 270px
  margin: 24px
