@charset "UTF-8";
@font-face {
  font-family: "RobotoSlab-Thin";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Thin.ttf"); }

@font-face {
  font-family: "RobotoSlab-Light";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Light.ttf"); }

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf"); }

@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.ttf"); }

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf"); }

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf"); }

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/Open_Sans/OpenSans-Semibold.ttf"); }

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf"); }

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf"); }

/* 1. Основные CSS */
body {
  font-size: 1rem;
  line-height: 1.5;
  min-width: 18.75rem;
  overflow-x: hidden; }

a:hover, a:focus {
  text-decoration: none;
  outline: none; }

nav {
  font-family: "RobotoSlab-Bold"; }
  nav ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0; }
    nav ul li {
      display: inline-block; }

.center {
  text-align: center; }

.button {
  display: inline-block;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #ffffff;
  padding: 1.125rem 3.75rem;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
  border: 0.16rem solid #e28800;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-top: 1.875rem;
  letter-spacing: 0.05rem; }
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e28800;
    z-index: -2; }
  .button::after {
    content: "";
    position: absolute;
    top: 0;
    right: -21.25rem;
    width: 19.75rem;
    height: 5rem;
    background-color: #ffffff;
    z-index: -1;
    -webkit-transition: right 0.5s ease;
    -o-transition: right 0.5s ease;
    -moz-transition: right 0.5s ease;
    transition: right 0.5s ease;
    -webkit-transform: skewX(-48deg);
    -moz-transform: skewX(-48deg);
    -ms-transform: skewX(-48deg);
    -o-transform: skewX(-48deg);
    transform: skewX(-48deg); }
  .button:hover, .button:focus {
    color: #e28800; }
    .button:hover::after, .button:focus::after {
      right: -0.5rem; }

/* 2. Типографика */
h1 {
  font-family: "RobotoSlab-Bold";
  font-size: 3rem; }

h2 {
  font-family: "RobotoSlab-Bold";
  font-size: 2.75rem; }

h3 {
  font-family: "RobotoSlab-Bold";
  font-size: 1.75rem; }

p {
  font-family: "OpenSans-Regular";
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0; }

a {
  font-family: "RobotoSlab-Bold"; }

/* 3. Переопределение */
.container-fluid {
  max-width: 95.63rem; }

.owl-pagination {
  width: 100%;
  text-align: center; }
  .owl-pagination .owl-page {
    width: 0.9375rem;
    height: 0.9375rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 0.1875rem solid #ffffff;
    display: inline-block;
    margin: 0 0.25rem; }
  .owl-pagination .active {
    background-color: #ffffff; }

.owl-buttons {
  position: relative;
  top: -19rem;
  max-width: 95.63rem;
  margin: 0 auto;
  height: 1.875rem; }

.owl-prev, .owl-next {
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat; }

.owl-prev {
  left: 15px; }

.owl-next {
  right: 15px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

button {
  background: transparent;
  border: 0; }

#privacy-policy.forms-popup {
  max-width: 660px; }
  #privacy-policy.forms-popup .form-title h3 {
    font-size: 2rem;
    text-align: left; }
  #privacy-policy.forms-popup p {
    font-size: 0.9rem;
    margin: 16px 0; }

.ymaps-2-1-47-svg-icon {
  background-image: url(../img/map-marker-icon.png) !important;
  -moz-background-size: 39px 39px !important;
  -o-background-size: 39px 39px !important;
  background-size: 39px 39px !important;
  height: 39px !important; }

.ymaps-2-1-47-inner-panes {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: -webkit-filter 1s ease;
  transition: -webkit-filter 1s ease;
  -o-transition: filter 1s ease;
  -moz-transition: filter 1s ease;
  transition: filter 1s ease;
  transition: filter 1s ease, -webkit-filter 1s ease; }
  .ymaps-2-1-47-inner-panes:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }

#name-error, #tel-error, #organization-error, #email-error {
  font-size: 0.8rem;
  color: red; }

/* 4. Header */
.header-top {
  background-image: url(../img/bg/header-lg.jpg);
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden; }

.menu-wrapp-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 2.188rem;
  color: #ffffff; }

.logo {
  display: inline-block;
  position: relative; }
  .logo:hover .logo-name {
    color: #f3c62c; }
  .logo:hover .logo-name-letter {
    color: #ffffff; }
  .logo:hover .logo-img {
    -webkit-transform: rotate(13800deg);
    -moz-transform: rotate(13800deg);
    -ms-transform: rotate(13800deg);
    -o-transform: rotate(13800deg);
    transform: rotate(13800deg); }

.logo-img {
  position: absolute;
  width: 1.563rem;
  left: -1.125rem;
  top: -0.3125rem;
  -webkit-transform: rotate(38deg);
  -moz-transform: rotate(38deg);
  -ms-transform: rotate(38deg);
  -o-transform: rotate(38deg);
  transform: rotate(38deg);
  -webkit-transition: -webkit-transform 10s ease;
  transition: -webkit-transform 10s ease;
  -o-transition: -o-transform 10s ease;
  -moz-transition: transform 10s ease, -moz-transform 10s ease;
  transition: transform 10s ease;
  transition: transform 10s ease, -webkit-transform 10s ease, -moz-transform 10s ease, -o-transform 10s ease; }

.logo-name {
  color: #ffffff;
  font-size: 1.5rem;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  transition: color 0.4s ease; }

.logo-name-letter {
  color: #f3c62c;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  transition: color 0.4s ease; }

.navigation-wrapp {
  text-align: center;
  width: 100%;
  float: left; }

.navigation-wrapp-link {
  width: 80%;
  display: inline-block; }

.navigation-link {
  display: block;
  position: relative;
  color: #ffffff;
  line-height: 2.25rem;
  padding: 0 0.9375rem;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  .navigation-link:hover {
    color: #e28800;
    text-decoration: underline; }
  .navigation-link:active {
    color: #e28800;
    text-decoration: underline; }
  .navigation-link:focus {
    color: #e28800; }
  .navigation-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.3125rem;
    margin-top: -0.1875rem;
    width: 0.443rem;
    height: 0.443rem;
    background-color: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

.navigation:last-child .navigation-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -0.3125rem;
  margin-top: -0.1875rem;
  width: 0.443rem;
  height: 0.443rem;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.number {
  float: right;
  width: 20%; }
  .number .fa-phone-square {
    font-size: 1.313rem;
    margin-right: 0.625rem; }

.number-link {
  font-family: "OpenSans-Regular";
  font-size: 1.125rem;
  line-height: 2.25rem;
  color: #ffffff;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
  position: relative; }
  .number-link:hover, .number-link:focus {
    color: #e28800; }

.overlay-header-top {
  background-color: rgba(0, 0, 0, 0.55);
  height: inherit;
  padding: 10rem 0 6rem 0; }

/* 4.1 Burger */
.burger-wrap {
  position: relative;
  float: right;
  z-index: 12;
  width: 28px;
  height: 16px;
  cursor: pointer;
  display: none;
  margin-top: 10px; }
  .burger-wrap div {
    background-color: #fff; }
    .burger-wrap div:nth-child(1) {
      height: 2px; }
    .burger-wrap div:nth-child(2) {
      margin-top: 5px;
      height: 2px; }
    .burger-wrap div:nth-child(3) {
      margin-top: 5px;
      height: 2px; }

.burger-wrap-close {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 16;
  width: 90%;
  padding: 1.8rem;
  height: 22px !important;
  margin: 0 auto;
  display: none;
  cursor: pointer; }

.burger-close {
  width: 28px;
  height: 22px;
  float: right;
  position: relative;
  top: 7px;
  right: 10px; }
  .burger-close div {
    background-color: #fff;
    position: absolute;
    top: 10px; }
    .burger-close div:nth-child(1) {
      height: 2px;
      width: 100%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-top: 0; }
    .burger-close div:nth-child(2) {
      width: 100%;
      height: 2px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }

/* 4.2 Banner */
.carousel-item {
  text-align: center; }

.carousel-item-img {
  margin-left: 7.5rem;
  max-width: 100%;
  padding-top: 3.75rem; }

.carousel-item-description {
  color: #ffffff;
  padding: 3.75rem 0;
  margin-right: 7.5rem;
  text-align: left; }
  .carousel-item-description h1 {
    margin-bottom: 1.25rem; }

.hidden-carousel-button {
  display: none;
  text-align: center; }
  .hidden-carousel-button .button::before {
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease; }
  .hidden-carousel-button .button:hover::before {
    background-color: transparent; }
  .hidden-carousel-button .button:hover::after {
    right: -21.25rem; }

/* 5.Products */
.products-wrapp {
  width: 100%;
  background-image: url(../img/bg/section-product-lg.jpg);
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.overlay-products-wrapp {
  background-color: rgba(255, 255, 255, 0.7);
  height: inherit; }

.section-product-pad {
  padding: 5rem 0; }

.section-title {
  text-align: center;
  margin-bottom: 1.875rem; }
  .section-title h2 {
    color: #2d2d2d;
    margin-bottom: 1.313rem;
    position: relative; }
    .section-title h2::before {
      content: "";
      position: absolute;
      margin-top: 1.3rem;
      margin-left: -1.563rem;
      width: 0.626rem;
      height: 0.626rem;
      background-color: #2d2d2d;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .section-title h2::after {
      content: "";
      position: absolute;
      margin-top: 1.3rem;
      margin-left: 0.8rem;
      width: 0.626rem;
      height: 0.626rem;
      background-color: #2d2d2d;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  .section-title p {
    font-family: "OpenSans-Semibold";
    color: #2d2d2d;
    font-size: 1.125rem;
    line-height: 1.5rem;
    display: inline-block;
    max-width: 62.5rem;
    width: 100%; }

.prices {
  display: block;
  padding-top: 1rem;
  text-align: right;
  position: relative;
  font-size: 1.2rem;
  font-family: "OpenSans-ExtraBold";
  margin-right: 1.85rem; }

.prices-rub {
  bottom: 2px;
  right: -30px;
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url(../img/russia-ruble.svg);
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.about-us-description-wrap {
  padding-left: 0;
  list-style-type: none; }
  .about-us-description-wrap li {
    padding-top: 0.2rem;
    padding-left: 1.5rem;
    position: relative; }
    .about-us-description-wrap li::before {
      content: "";
      position: absolute;
      width: 0.443rem;
      left: 6px;
      top: 12px;
      height: 0.443rem;
      background-color: rgba(0, 0, 0, 0.8);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

/* 5.1 Item */
.products-wrapp-item {
  vertical-align: top;
  margin: 1.875rem 1.25rem 0 1.25rem;
  max-width: 28.25rem;
  height: 41.06rem;
  -webkit-box-shadow: 0 0.1875rem 0.4375rem rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0.1875rem 0.4375rem rgba(0, 0, 0, 0.35);
  box-shadow: 0 0.1875rem 0.4375rem rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  display: inline-block; }
  .products-wrapp-item .button::after {
    width: 22.75rem;
    right: -24.25rem; }
  .products-wrapp-item .button:hover, .products-wrapp-item .button:focus {
    color: #e28800; }
    .products-wrapp-item .button:hover::after, .products-wrapp-item .button:focus::after {
      right: -2rem; }

.products-item-img-wrap {
  background-image: url(../img/bg/products.jpg);
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 16.88rem;
  position: relative; }

.products-item-img-wrap-overlay {
  background-color: rgba(0, 0, 0, 0.55);
  height: inherit;
  text-align: center;
  padding: 2.625rem 0; }

.products-item-img {
  height: 11.5rem; }

.products-item-description {
  padding: 3.125rem;
  text-align: center; }
  .products-item-description h3 {
    margin-bottom: 1.125rem;
    text-align: left; }
  .products-item-description p {
    font-size: 1rem;
    font-family: "OpenSans-Regular";
    line-height: 1.25rem;
    text-align: left; }

.button-wrapp {
  display: inline-block;
  position: relative; }

.products-item-img-review {
  max-width: 12.5rem;
  width: 100%;
  left: 50%;
  margin-left: -6.25rem;
  position: absolute;
  bottom: -1.563rem; }

/* 6. About us */
.about-us-wrapp .section-title h2 {
  margin-bottom: 50px; }

.about-us-img {
  max-width: 100%; }

.about-us-description p {
  padding-bottom: 22px;
  font-size: 1rem; }

/* 7. Partners*/
.partners-wrapp {
  background-image: url(../img/bg/slider1-bg1.jpg);
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff; }
  .partners-wrapp .section-title h2 {
    margin-bottom: 50px;
    color: #ffffff; }
    .partners-wrapp .section-title h2::before, .partners-wrapp .section-title h2::after {
      background-color: #ffffff; }
  .partners-wrapp .about-us-description p {
    text-align: right; }
  .partners-wrapp .button {
    float: right;
    border-color: #ffffff; }
    .partners-wrapp .button:hover {
      color: #088ab6; }
    .partners-wrapp .button::before {
      background-color: rgba(8, 138, 182, 0.8); }
    .partners-wrapp .button::after {
      width: 22.75rem;
      right: -24.25rem; }
    .partners-wrapp .button:hover::after, .partners-wrapp .button:focus::after {
      right: -2rem; }

.partners-wrapp-overlay {
  background-color: rgba(0, 136, 181, 0.9);
  height: inherit; }

.clients-carousel-item {
  padding: 0.5rem;
  text-align: center; }

.partners-description-wrap-ul {
  text-align: right;
  padding-left: 0;
  list-style-type: none; }
  .partners-description-wrap-ul li {
    padding-top: 0.2rem;
    padding-right: 1.5rem;
    position: relative; }
    .partners-description-wrap-ul li::before {
      content: "";
      position: absolute;
      width: 0.443rem;
      right: 6px;
      top: 12px;
      height: 0.443rem;
      background-color: #ffffff;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

/* 8. Clients*/
.clients-wrapp .section-title h2 {
  margin-bottom: 50px; }

.clients-img {
  max-width: 100%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: -webkit-filter 0.4s ease;
  transition: -webkit-filter 0.4s ease;
  -o-transition: filter 0.4s ease;
  -moz-transition: filter 0.4s ease;
  transition: filter 0.4s ease;
  transition: filter 0.4s ease, -webkit-filter 0.4s ease; }
  .clients-img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }

/* 9. Contacts */
.contacts-wrapp {
  position: relative;
  height: 900px; }
  .contacts-wrapp #map {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10; }
  .contacts-wrapp .section-product-pad {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 11; }

.form-wrapp {
  width: 100%;
  padding: 50px;
  background-color: #ffffff; }

.form-title {
  text-align: center; }
  .form-title h3 {
    font-size: 36px;
    margin-bottom: 1.5rem; }

.form input {
  display: block;
  width: 100%;
  background-color: #fcf5e3;
  border: 1px solid #e28800;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  margin-top: 8px; }
  .form input:focus {
    outline: none; }

.form label {
  display: block;
  font-size: 16px;
  font-family: "RobotoSlab-Bold"; }

.form .form-email-help {
  font-size: 14px;
  font-family: "OpenSans-Regular";
  color: #8a8787; }

.form .button {
  outline: none;
  width: 100%;
  cursor: pointer;
  font-family: "RobotoSlab-Bold"; }
  .form .button:focus {
    outline: none; }
  .form .button::before {
    width: 100%; }
  .form .button::after {
    width: 35.75rem;
    right: -37.25rem; }
  .form .button:hover::after {
    right: -1.2rem; }

.form sup {
  color: red; }

.col-form-contacts, .col-form-contacts-left {
  float: right;
  width: 27%;
  display: inline-block;
  position: absolute;
  right: 5rem; }

.col-form-contacts-left {
  float: left;
  left: 5rem;
  background-color: #fff;
  padding: 2rem; }

.col-form-contacts-left-wrap {
  list-style-type: none;
  margin-bottom: 0; }

.col-form-contacts-left-li {
  font-family: "OpenSans-Bold";
  line-height: 2rem;
  position: relative; }
  .col-form-contacts-left-li .fa-map-marker {
    font-size: 1.5rem;
    top: 5px; }
  .col-form-contacts-left-li .fa-phone {
    font-size: 1.3rem;
    top: 7px; }
  .col-form-contacts-left-li .fa-paper-plane {
    top: 8px; }
  .col-form-contacts-left-li .fa {
    position: absolute;
    left: -28px; }

.fa-clock-o {
  top: 8px; }

/* 10. Footer */
.footer .section-product-pad {
  padding: 2.5rem 0; }

.legal-address {
  color: #8a8787; }

.privacy-policy {
  float: right; }
  .privacy-policy:hover {
    border-bottom-color: #e28800; }
    .privacy-policy:hover .privacy-policy-link {
      color: #e28800; }

.privacy-policy-link {
  color: #8a8787;
  border-bottom: 1px dashed #8a8787; }

/* 11. Popup */
.forms-popup {
  position: relative;
  max-width: 477px;
  min-width: 290px;
  margin: 0 auto; }
