@media screen and (max-width: 1536px) {
  .container-fluid, .owl-buttons {
    max-width: 90%; }
  .products-wrapp-item {
    text-align: center;
    max-width: 29%;
    height: auto; }
  .overlay-header-top {
    padding: 5.3rem 0 4.7rem; }
  .navigation-link, .number-link, .number .fa-phone-square {
    font-size: 0.85rem; }
  .menu-wrapp-overlay {
    padding: 1.7rem; }
  .carousel-item-img {
    margin-left: 2rem; }
  .carousel-item-description {
    margin-right: 4.5rem; }
    .carousel-item-description h1 {
      font-size: 2.8rem; }
    .carousel-item-description p {
      font-size: 0.9rem;
      line-height: 1.4rem; }
  .logo-name {
    font-size: 1.4rem; }
  .carousel-item-img {
    width: 81%; }
  .owl-buttons {
    top: -17rem; }
  .owl-pagination .owl-page {
    width: 0.8rem;
    height: 0.8rem;
    border-width: 0.1rem; }
  .section-title h2 {
    font-size: 2rem; }
    .section-title h2::before, .section-title h2::after {
      margin-top: 0.9rem;
      width: 0.5rem;
      height: 0.5rem; }
    .section-title h2::before {
      margin-left: -1.3rem; }
  .section-title p {
    font-size: 0.9rem;
    line-height: normal; }
  .products-item-description {
    padding: 2.8rem; }
    .products-item-description h3 {
      font-size: 1.4rem; }
    .products-item-description p {
      font-size: 0.9rem; }
  .button {
    font-size: 0.72rem;
    border-width: 0.1rem;
    padding: 0.9rem 3.75rem; }
  .about-us-description p {
    font-size: 0.95rem;
    line-height: 1.4; }
  .form-title h3 {
    font-size: 30px; } }

@media screen and (max-width: 1366px) {
  .products-wrapp-item {
    text-align: center;
    max-width: 30%;
    margin-left: 1%;
    margin-right: 1%; }
  .navigation-link {
    font-size: 0.7rem; }
  .carousel-item-description h1 {
    font-size: 2.4rem; }
  .carousel-item-description p {
    font-size: 0.8rem;
    line-height: 1.2rem; }
  .products-item-img {
    height: 11rem; }
  .section-title p {
    width: 80%; }
  .owl-buttons {
    top: -16rem; }
  .form-wrapp {
    padding: 35px; }
  .form label {
    font-size: 0.85rem; }
  .form .form-email-help {
    font-size: 0.66rem; }
  .form-title h3 {
    font-size: 1.4rem; } }

@media screen and (max-width: 1160px) {
  .number-link, .number .fa-phone-square {
    font-size: 0.7rem; }
  .carousel-item-description h1 {
    font-size: 2rem; }
  .carousel-item-description p {
    font-size: 0.7rem;
    line-height: normal; }
  .owl-prev, .owl-next {
    width: 1.4rem;
    height: 1.4rem; }
  .owl-pagination .owl-page {
    width: 0.7rem;
    height: 0.7rem;
    border-width: 0.09rem; }
  .overlay-header-top {
    padding: 4.5rem 0 3.7rem 0; }
  .owl-buttons {
    top: -13rem; }
  .section-title h2 {
    font-size: 1.7rem; }
    .section-title h2::before, .section-title h2::after {
      width: 0.4rem;
      height: 0.4rem; }
  .section-title p {
    font-size: 0.8rem; }
  .products-item-description {
    padding: 2.8rem 2.6rem 2.8rem 2.6rem; }
    .products-item-description h3 {
      font-size: 1.1rem; } }
