body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
div	{
	margin: 0;
	padding: 0;
}

.bg {
	height: 100vh;
	background-image: url(img/bg.jpg);
	background-size: cover;
	position: relative;
	overflow: hidden;
}
.nlo {
	position: relative;
	display: block;
	width: 200px;
	left: -200px;
	margin-top: 10vh;
	animation-name: nlo;
	animation-duration: 18s;
	animation-delay: 8s;
}
.nlo img {
	max-width: 100%;
}
@keyframes nlo {
	0% { left: -200px;}
	20% { left: 70%; margin-left: -100px; margin-top: 30vh; transform: rotate(30deg); }
	22% { transform: rotate(-30deg); }
	23% { transform: rotate(20deg); }
	22% { transform: rotate(-20deg); }
	25% { transform: rotate(0deg); }
	30% {left: 70%; margin-left: -100px;}
	35% {left: 70%; margin-left: -100px;}
	40% {left: 70%; margin-left: -100px;}
	45% {left: 70%; margin-left: -100px;}
	50% {left: 70%; margin-left: -100px;}
	55% {left: 70%; margin-left: -100px; margin-top: 31vh}
	60% {left: 70%; margin-left: -100px; margin-top: 29vh}
	65% {left: 70%; margin-left: -100px; margin-top: 31vh}
	70% {left: 70%; margin-left: -100px; margin-top: 29vh}
	75% {left: 70%; margin-left: -100px; margin-top: 30vh}
	90% {left: 70%;}
	100% {left: 150%;}
}
.nlo::before {
	content: "";
	position: absolute;
	width: 1%;
	left: 64px;
	top: 43px;
	border-left: 32px solid transparent;
	border-right: 32px solid transparent;
	border-bottom: 49vh solid rgba(237, 238, 179, 0.5);
	animation-name: nlohover;
	animation-duration: 9s;
	animation-delay: 12s;
	opacity: 0;
	z-index: 16;
}
@keyframes nlohover {
	0% {border-bottom: 0vh solid rgba(237, 238, 179, 0.5); opacity: 0;}
	20% {border-bottom: 49vh solid rgba(237, 238, 179, 0.5); opacity: 1;}
	33% {border-bottom: 49vh solid rgba(237, 238, 179, 0.5); opacity: 1;}
	70% {border-bottom: 15vh solid rgba(237, 238, 179, 0.5); opacity: 0.5;}
	73% {border-bottom: 0vh solid rgba(237, 238, 179, 0.5); opacity: 0;}
	100% {border-bottom: 0vh solid rgba(237, 238, 179, 0.5); opacity: 0;}
}
.korova {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 50vh;
}
.korova img {
	transform: rotate(-22deg);
	perspective: 1000px;
	position: absolute;
	bottom: 10vh;
	width: 80px;
	right: -5%;
	animation-name: korova;
	animation-duration: 20s;
	animation-delay: 0s;
	z-index: 15;
}
.korova img::before {
	content: "";
	display: block;
	top: 50px;
	left: 0;
	width: 50px;
	height: 10px;
	border-radius: 50%;
	background-color: #000000;
	opacity: 0.2;
}

@keyframes ten {
	0% {width: 40px; height: 2vh;}
	100% {width: 0px; height: 0vh;}
}

@keyframes korova {
	0% {right: 0; transform: rotate(-30deg);}
	1% {}
	2% {}
	3% {right: 2.4%;transform: rotate(-30deg);}
	4% {right: 2.4%;transform: rotate(-10deg);}
	5% {}
	6% {right: 4.8%; transform: rotate(-30deg);}
	7% {right: 4.8%; transform: rotate(-10deg);}
	8% {}
	9% {right: 7.2%; transform: rotate(-30deg);}
	10% {right: 7.2%; transform: rotate(-10deg);}
	11% {}
	12% {right: 9.6%; transform: rotate(-30deg);}
	13% {right: 9.6%; transform: rotate(-10deg);}
	14% {}
	15% {right: 12%;transform: rotate(-30deg);}
	16% {right: 12%;transform: rotate(-10deg);}
	17% {}
	18% {right: 14.4%; transform: rotate(-30deg);}
	19% {right: 14.4%; transform: rotate(-10deg);}
	20% {}
	21% {right: 16.8%; transform: rotate(-30deg);}
	22% {right: 16.8%; transform: rotate(-10deg);}
	23% {}
	24% {right: 19.2%; transform: rotate(-30deg);}
	25% {right: 19.2%; transform: rotate(-10deg);}
	26% {}
	27% {right: 21.6%; transform: rotate(-30deg);}
	28% {right: 21.6%; transform: rotate(-10deg);}
	29% {}
	30% {right: 24%; transform: rotate(-30deg);}
	31% {right: 24%; transform: rotate(-10deg);}
	32% {}
	33% {right: 26.4%; transform: rotate(-30deg);}
	34% {right: 26.4%; transform: rotate(-10deg);}
	35% {}
	36% {right: 28.4%; transform: rotate(-30deg);}
	37% {right: 28.4%; transform: rotate(-10deg);}
	45% {}
	50% {right: 30%; bottom: 10vh; margin-right: -40px; margin-bottom: 0vh; transform: rotate(-30deg);}
	55% {right: 30%; bottom: 10vh; margin-right: -40px; margin-bottom: 0vh; transform: rotate(-22deg);}
	55% {}
	60% {}
	65% {}
	69% {}
	70% {}
	71% {}
	75% {right: 30%; bottom: 10vh; margin-right: -40px; margin-bottom: 0vh;}
	80% {}
	85% {}
	90% {right: 30%; bottom: 50vh; margin-right: -40px; margin-bottom: 0vh; transform: rotate(-22deg); opacity: 1;}
	95% {right: 30%; bottom: 60vh; margin-right: -40px; margin-bottom: 0vh; transform: rotate(-22deg); opacity: 0;}
	100% {right: 30%; bottom: 62vh; margin-right: -40px; margin-bottom: 0vh; transform: rotate(0deg); opacity: 0}
}

.fermer {
	width: 100%;
	position: absolute;
	bottom: 0;
	display: inline-block;
}
.fermer .oko-1 {
	width: 350px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -400px;
	display: inline-block;
}
.oko-1 img {
	width: inherit;
	margin-bottom: -10px;
}
.fermer .oko-1 .glaz-1 {
	position: absolute;
	top: 138px;
	left: 155px;
	width: 13px;
	height: 27px;
	background-color: #8d4007;
	z-index: 45;
	border-radius: 50%;
	animation-name: glazone;
	animation-duration: 5s;
	animation-delay: 0s;
}
.fermer .oko-1 .glaz-1::before {
	content: "";
	display: block;
	margin-top: 8px; 
	margin-left: 6px;
	width: 4px;
	height: 8px;
	background-color: #fff;
	z-index: 45;
	border-radius: 50%;
	animation-name: glaztwobf;
	animation-duration: 1s;
	animation-delay: 2.5s;
}
.fermer .oko-1 .glaz-2 {
	position: absolute;
	top: 140px;
	left: 125px;
	width: 13px;
	height: 27px;
	background-color: #8d4007;
	z-index: 45;
	border-radius: 50%;
	animation-name: glaztwo;
	animation-duration: 5s;
	animation-delay: 0s;
}
.fermer .oko-1 .glaz-2::before {
	content: "";
	display: block;
	margin-top: 8px; 
	margin-left: 6px;
	width: 4px;
	height: 8px;
	background-color: #fff;
	z-index: 45;
	border-radius: 50%;
	animation-name: glaztwobf;
	animation-duration: 1s;
	animation-delay: 2.5s;
}
@keyframes glaztwobf {
	0%   {width: 4px; height: 8px; margin-top: 8px;}
	50%  {width: 0px; height: 0px; margin-top: 2px;}
	100% {width: 4px; height: 8px; margin-top: 8px;}
}

@keyframes glazone {
	0%   {left: 155px; top: 138px;}
	10%  {left: 150px; top: 140px;}
	20%  {left: 155px; top: 138px;}
	30%  {left: 155px; top: 138px;}
	40%  {left: 160px; top: 140px;}
	50%  {left: 160px; top: 140px; width: 13px;	height: 27px; margin-top: 0px;}
	60%  {left: 160px; top: 140px; width: 13px;	height: 4px; margin-top: 13px;}
	70%  {left: 160px; top: 140px; width: 13px;	height: 27px; margin-top: 0px;}
	80%  {left: 155px; top: 138px;}
}
@keyframes glaztwo {
	0%   {left: 125px; top: 140px;}
	10%  {left: 120px; top: 142px;}
	20%  {left: 125px; top: 140px;}
	30%  {left: 125px; top: 140px;}
	40%  {left: 130px; top: 142px;}
	50%  {left: 130px; top: 142px; width: 13px;	height: 27px; margin-top: 0px;}
	60%  {left: 130px; top: 142px; width: 13px;	height: 4px; margin-top: 13px;}
	70%  {left: 130px; top: 142px; width: 13px;	height: 27px; margin-top: 0px;}
	80%  {left: 125px; top: 140px;}
}