<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Charset and Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Title -->
    <title>Home</title>
    <!-- Favicons -->
    <link rel="icon" href="img/favicons/16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="img/favicons/32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="img/favicons/48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="img/favicons/62.png" sizes="62x62" type="image/png">
    <link rel="icon" href="img/favicons/192.png" sizes="192x192" type="image/png">
    <!-- SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Author and Copyright -->
    <link rel="author" href="">
    <link rel="copyright" href="">
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/libs.min.css">
  </head>
  <body>
    <header id="home" class="header-top">
      <div class="menu-wrapp-overlay">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-2 col-md-6 col-xs-10">
              <a class="logo" href="">
                <img class="logo-img" src="img/cheese-logo.svg" alt="">
                <span class="logo-name">Поставкин<span class="logo-name-letter">Ъ</span></span>
              </a>
            </div>
            <div class="col-lg-10 col-md-6 col-xs-2">
              <nav id="nav" class="navigation-wrapp">
                <ul class="navigation-wrapp-link">
                  <li class="navigation">
                    <a class="navigation-link" href="#home">Главная</a>
                  </li>
                  <li class="navigation">
                    <a class="navigation-link" href="#products">Продукция</a>
                  </li>
                  <li class="navigation">
                    <a class="navigation-link" href="#about-us">О нас</a>
                  </li>
                  <li class="navigation">
                    <a class="navigation-link" href="#partners">Партнёрам</a>
                  </li>
                  <li class="navigation">
                    <a class="navigation-link" href="#contacts">Контакты</a>
                  </li>
                </ul>
                <div class="number">
                  <a class="number-link" href="#forms-top"><i class="fa fa-phone-square" aria-hidden="true"></i>+7(901)812-23-38</a>
                </div>
                <div class="burger-wrap-close">
                  <div id="burger-close" class="burger-close">
                    <div></div>
                    <div></div>
                  </div>
                </div>
              </nav>
              <div id="burger" class="burger-wrap">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay-header-top">
        <div id="carousel">
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-5 col-md-12">
                  <img class="carousel-item-img" src="img/products/img-banner-1.png" alt="">
                </div>
                <div class="col-lg-7 col-md-12">
                  <div class="carousel-item-description">
                    <h1>Сыр и сырная продукция</h1>
                    <p>Сыр обладает полезными свойствами, cвязано это с тем, что в его состав входит молоко, специальные свертывающие ферменты и молочно-кислые бактерии. Сыр и сыропродукты – продукт массового употребления по-этому они отлично подходят для приготовления повседневных и праздничных блюд. В рецептуре линейки традиционных сыров воплощены многолетние традиции лучших сыроделов России. Производством сыра занимаются разные страны, а история происхождения этого сыра начинается с древнего Востока.</p>
                    <div class="hidden-carousel-button">
                      <a class="button hidden-carousel-text" href="#cheese">Подробнее</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-5 col-md-12">
                  <img class="carousel-item-img" src="img/products/story-bowl.png" alt="">
                </div>
                <div class="col-lg-7 col-md-12">
                  <div class="carousel-item-description">
                    <h1>Творог и творожный продукт</h1>
                    <p>Нежный творог 18% жирности из свежайшего деревенского молока богат легко усваиваемым белком, а также кальцием и фосфором. Идеальная, по мнению диетологов, жирность творога гармонично сочетается с чуть кисловатым, богатым молочным вкусом. Наш творог делается из парного молока и это идеальный продукт для детского и диетического питания и замечательная основа для множества домашних блюд. Творог из парного молока имеет тонкий сливочный вкус и делается по семейному рецепту. Завтраки, полдники и перекусы станут с ним настоящим уютным семейным праздником!</p>
                    <div class="hidden-carousel-button">
                      <a class="button hidden-carousel-text" href="#curd">Подробнее</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-5 col-md-12">
                  <img class="carousel-item-img" src="img/products/light-cream-cheese-dip.png" alt="">
                </div>
                <div class="col-lg-7 col-md-12">
                  <div class="carousel-item-description">
                    <h1>Сметана и сметанный продукт</h1>
                    <p>Сметана является кисломолочным продуктом, который получают сливок и закваски путем кисломолочного брожения. Родиной сметаны считается Россия. Сметану широко используется в кулинарии. Ее применяют как основу для приготовления всевозможных соусов и подливок для мяса и рыбы, используют в процессе тушения овощей, мяса, рыбы, грибов, также она является заправкой для многих салатов (особенно хороши со сметаной овощные салаты). Сметана хорошо усваивается организмом человека (в отличие от сливок), это связано с тем, что в процессе сквашивания происходит изменение структуры белка, входящего в состав сметаны.</p>
                    <div class="hidden-carousel-button">
                      <a class="button hidden-carousel-text" href="#sour-cream">Подробнее</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-5 col-md-12">
                  <img class="carousel-item-img" src="img/products/580b57fbd9996e24bc43c0b0.png" alt="">
                </div>
                <div class="col-lg-7 col-md-12">
                  <div class="carousel-item-description">
                    <h1>Сливочное масло и спреды</h1>
                    <p>Сливочное масло – концентрат молочного жира, изготавливаемый путем сбивания или сепарирования сливок, как правило, полученных из коровьего молока. Сливочное масло было достаточно известным продуктом питания в V веке в Ирландии, а уже в IX веке на Руси и в Италии. Особенно широко сливочное масло используется в кондитерской промышленности для выпечки печенья, тортов, пряников, пирогов. Его добавляют в соусы и салаты, но чаще всего с ним готовят бутерброды или канапе с мясом, рыбой, овощами и зеленью. Сливочное масло – ценный источник витамина А (0,5 мг в 100 г масла), фосфатидов и полиненасыщенных жирных кислот.</p>
                    <div class="hidden-carousel-button">
                      <a class="button hidden-carousel-text" href="#butter">Подробнее</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-5 col-md-12">
                  <img class="carousel-item-img" src="img/products/yogurt.png" alt="">
                </div>
                <div class="col-lg-7 col-md-12">
                  <div class="carousel-item-description">
                    <h1>Весовые йогурты более 15 видов</h1>
                    <p>По легенде, турецкие кочевники, перевозя молоко на спине животных в бурдюках, куда из воздуха попадали различные бактерии, а на жаре начиналось брожение продукта, из которого получался кислый напиток, получивший название йогурт (в переводе с турецкого - "густой").  Йогурт изготавливается из натурального коровьего или овечьего молока, и содержит в себе культуры болгарской палочки и термофильного стрептококка. Йогурт содержит витамины группы В, кальций и фосфор, которые необходимы для правильного роста и развития малышей и поддержания здоровья взрослых.</p>
                    <div class="hidden-carousel-button">
                      <a class="button hidden-carousel-text" href="#yogurt">Подробнее</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="products" class="products-wrapp">
      <div class="overlay-products-wrapp">
        <div class="section-product-pad">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <header class="section-title">
                  <h2>Продукция</h2>
                  <p>В нашем ассортименте — более 5000 наименований продукции, такие как: сыр и сырный продукт, творог и творожный продукт, сметана и сметанный продукт, сливочное масло, спреды и многое другое. Для вас мы отобрали товары недели.</p>
                </header>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="center">
                  <div class="products-wrapp-item">
                    <div class="products-item-img-wrap">
                      <div class="products-item-img-wrap-overlay">
                        <img class="products-item-img" src="img/products/0_c9f56_5edd596b_L.png" alt="">
                      </div>
                      <div class="products-item-img-review-wrapp">
                        <img class="products-item-img-review" src="img/review/5.svg" alt="">
                      </div>
                    </div>
                    <div class="products-item-description">
                      <h3>Сыр "Витязь"</h3>
                      <p>Сыр «Витязь» - cыр, обладающий приятным, нежным сливочным вкусом, однородной консистенцией. Имеет рисунок в виде глазков неправильной формы. ТУ 9225-069-00419710-14 Массовая доля жира в сухом веществе 40% и 50%.</p>
                      <span class="prices">от 200<span class="prices-rub"></span></span>
                      <a a href="#forms-top" class="button prices-link">Подробнее</a>
                    </div>
                  </div>
                  <div class="products-wrapp-item">
                    <div class="products-item-img-wrap">
                      <div class="products-item-img-wrap-overlay">
                        <img class="products-item-img" src="img/products/goods_1884.png" alt="">
                      </div>
                      <div class="products-item-img-review-wrapp">
                        <img class="products-item-img-review" src="img/review/4.svg" alt="">
                      </div>
                    </div>
                    <div class="products-item-description">
                      <h3>Масло "Традиционное"</h3>
                      <p>Масло сливочное «Традиционное» сладко-сливочное, несоленое, с массовой долей жира 82,5% изготовлено по ГОСТ 32261-2013. Высший сорт. Потребительская тара: брикет 0,18 кг, батончик по 0,2 кг, гофрокороб 10 кг и 20 кг.</p>
                      <span class="prices">от 370<span class="prices-rub"></span></span>
                      <a a href="#forms-top" class="button prices-link">Подробнее</a>
                    </div>
                  </div>
                  <div class="products-wrapp-item">
                    <div class="products-item-img-wrap">
                      <div class="products-item-img-wrap-overlay">
                        <img class="products-item-img" src="img/products/1395674666533048e4472e3,300x300,zoom,s-2463944065.png" alt="">
                      </div>
                      <div class="products-item-img-review-wrapp">
                        <img class="products-item-img-review" src="img/review/5.svg" alt="">
                      </div>
                    </div>
                    <div class="products-item-description">
                      <h3>Сыр "Моцарелла"</h3>
                      <p>Русская моцарелла имеет пресноватый вкус, но в то же время очень нежная и одновременно питательная. ТУ 9225-003-47157329-2015 Массовая доля жира в сухом веществе 40%. Транспортная упаковка: гофрокороб (16 шт/кор) - 4,8 кг.</p>
                      <span class="prices">от 150<span class="prices-rub"></span></span>
                      <a href="#forms-top" class="button prices-link">Подробнее</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about-us" class="about-us-wrapp">
      <div class="section-product-pad">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <header class="section-title">
                <h2>О нас</h2>
              </header>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="about-us-img-wrapp">
                <img class="about-us-img" src="img/sklad.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-us-description">
                <p>«ПоставкинЪ» - основанная в 2004 году. На сегодняшний день «ПоставкинЪ» занимает одну из лидирующих позиций на российском рынке, пользуется уважением партнёров и доверием потребителей. Мы работаем в городах: Самара, Тольятти, Ульяновск, Саратов, Оренбург, Казань, Пенза, Сызрань, Димитровград, Набережные челны, Орск, Уфа, Челябинск, Москва, Краснодар также в республиках Марий Эл и Чувашия. Общий штат сотрудников — порядка 100 человек.</p>
                <ul class="about-us-description-wrap">Кроме того, «ПоставкинЪ» — это:
                  <li>Контракты с ведущими российскими, зарубежными и мировыми производителями.</li>
                  <li>Входной контроль качества продукции в собственной лаборатории.</li>
                  <li>Ассортимент — более 5000 наименований.</li>
                  <li>Доставка продукции в любое торговое предприятие города и области в течение 24 часов.</li>
                  <li>Собственные складские комплексы с холодильными и морозильными камерами.</li>
                  <li>Собственный, оборудованный холодильниками, автопарк.</li>
                  <li>Весь спектр трейд-маркетинговых и рекламных мероприятий.</li>
                  <li>Команда профессионалов.</li>
                  <li>Мы обеспечиваем максимальное разнообразие товаров, услуг, цен и форматов торговли.</li>
                  <li>Мыстремимся к тому, чтобы наша работа приносила радость и удовлетворение нашим сотрудникам.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="partners" class="partners-wrapp">
      <div class="partners-wrapp-overlay">
        <div class="section-product-pad">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <header class="section-title">
                  <h2>Партнерам</h2>
                </header>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="about-us-description">
                  <p>Мы всегда очень тщательно подходим к установлению партнёрских отношений с производителями. Опираясь на них, мы являемся основными поставщиками молочной и масложировой продукции для 22 тысяч клиентов.</p>
                  <ul class="partners-description-wrap-ul">Преимущества сотрудничества с нами:
                    <li>собственные складские комплексы с различными температурными режимами</li>
                    <li>автоматизированная WMS-система управления складом</li>
                    <li>собственный и наёмный автопарк (более 250 автомашин)</li>
                    <li>круглосуточный режим работы</li>
                    <li>качественный охват территории присутствия</li>
                    <li>представленность продукции в федеральных и локальных сетях</li>
                    <li>маркетинг и продвижение продукции</li>
                    <li>возможность заказов on-line</li>
                    <li>эксклюзивные команды</li>
                  </ul>
                  <a href="#forms-price" class="button prices-link">Заказать прайс</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-us-img-wrapp">
                  <img class="about-us-img" src="img/partners.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="clients-wrapp">
      <div class="section-product-pad">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <header class="section-title">
                <h2>Наши клиенты</h2>
              </header>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                <div id="clients-carousel">
                  <div class="clients-carousel-item">
                    <img class="clients-img" src="img/partners/1.png" alt="">
                  </div>
                  <div class="clients-carousel-item">
                    <img class="clients-img" src="img/partners/2.png" alt="">
                  </div>
                  <div class="clients-carousel-item">
                    <img class="clients-img" src="img/partners/3.png" alt="">
                  </div>
                  <div class="clients-carousel-item">
                    <img class="clients-img" src="img/partners/4.png" alt="">
                  </div>
                  <div class="clients-carousel-item">
                    <img class="clients-img" src="img/partners/5.png" alt="">
                  </div>
                  <div class="clients-carousel-item">
                    <img class="clients-img" src="img/partners/6.png" alt="">
                  </div>
                  <div class="clients-carousel-item">
                    <img class="clients-img" src="img/partners/7.png" alt="">
                  </div>
                  <div class="clients-carousel-item">
                    <img class="clients-img" src="img/partners/8.png" alt="">
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    <section id="contacts" class="contacts-wrapp">
      <div id="map">
        <div class="section-product-pad">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <header class="section-title">
                  <h2>Контакты</h2>
                </header>
              </div>
            </div>
            <div class="col-form-contacts">
                <div class="form-wrapp">
                  <div class="form-title">
                    <h3>Заказать звонок</h3>
                  </div>
                  <form id="form-bottom" class="form">
                    <label>Введите ваше имя<sup>*</sup>
                      <input type="text" name="name" placeholder="Ваше имя" minlength="2" required>
                    </label>
                    <label>Введите ваш номер телефона<sup>*</sup>
                      <input type="tel" name="tel" minlength="11" maxlength="11" placeholder="89179999999" required>
                    </label>
                    <label>Введите ваш Email <small>(Не обязательно)</small>
                      <input type="email" name="name" placeholder="Введите ваше имя">
                      <span class="form-email-help">Для получения новостий, пожалуйста заполните поле</span>
                    </label>
                    <button class="button" type="submit" name="button" >Заказать звонок</button>
                  </form>
                </div>
              </div>
            <div class="col-form-contacts-left">
              <ul class="col-form-contacts-left-wrap">
                <li class="col-form-contacts-left-li"><i class="fa fa-map-marker" aria-hidden="true"></i> г.Уфа, ул.Гафури, д.105</li>
                <li class="col-form-contacts-left-li"><i class="fa fa-phone" aria-hidden="true"></i> +7(901)812-23-38</li>
                <li class="col-form-contacts-left-li"><i class="fa fa-paper-plane" aria-hidden="true"></i> 89018122338@rambler.ru</li>
              </ul>
            </div>
            <div class="hidden-carousel-button">
              <a class="button number-link" href="#forms-top">Заказать звонок</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="section-product-pad">
        <div class="container-fluid">
          <small class="legal-address">ООО "Поставкинъ" ОГРН 1160280085833, ИНН 0275906600, 450076 РБ, г.Уфа, ул.Гафури, д.105</small>
          <small class="privacy-policy">
            <a class="privacy-policy-link" href="#privacy-policy">Политика конфиденциальности</a>
          </small>
        </div>
      </div>
    </footer>
    <!-- popup -->
    <div id="forms-top" class="forms-popup mfp-hide">
      <div class="form-wrapp">
        <div class="form-title">
          <h3>Заказать звонок</h3>
        </div>
        <form id="forms-top-wrap" class="form" action="">
          <label>Введите ваше имя<sup>*</sup>
            <input type="text" name="name" minlength="2" placeholder="Ваше имя" required>
          </label>
          <label>Введите ваш номер телефона<sup>*</sup>
            <input type="tel" name="tel" minlength="11" maxlength="11" placeholder="Ваше номер телефона" required>
          </label>
          <button class="button" type="submit" name="button" >Заказать звонок</button>
        </form>
      </div>
    </div>
    <div id="forms-price" class="forms-popup mfp-hide">
      <div class="form-wrapp">
        <div class="form-title">
          <h3>Заказать прайс</h3>
        </div>
        <form id="partners-prices" class="form" action="">
          <label>Введите ваше имя<sup>*</sup>
            <input type="text" name="name" placeholder="Ваше имя" minlength="2" required>
          </label>
          <label>Введите вашу организацию<sup>*</sup>
            <input type="text" name="organization" placeholder="Название организация" required>
          </label>
          <label>Введите ваш номер телефона<sup>*</sup>
            <input type="tel" name="tel" minlength="11" maxlength="11"  placeholder="Ваш номер телефона" required>
          </label>
          <label>Введите ваш Email<sup>*</sup>
            <input type="email" name="email" placeholder="Ваш Email" required>
          </label>
          <button class="button" type="submit" name="button" >Заказать звонок</button>
        </form>
      </div>
    </div>
    <div id="privacy-policy" class="forms-popup mfp-hide">
      <div class="form-wrapp">
        <div class="form-title">
          <h3>Политика конфиденциальности</h3>
        </div>
        <p>Политика в отношении обработки персональных данных определяет основные принципы и правила по обработке персональных данных, которыми мы руководствуемся в нашей работе, а также в общении с клиентами, поставщиками и сотрудниками. Политика в отношении обработки персональных данных распространяется на всех наших сотрудников.</p>
        <p>При обработке персональных данных мы стремимся соблюдать требования законодательства Российской Федерации, в частности Федеральный закон № 152-ФЗ «О персональных данных», а также нормы и правила, установленные в нашей компании.</p>
        <p>Ваша конфиденциальность очень важна для нас. Мы хотим, чтобы ваша работа в интернете по возможности была максимально приятной и полезной, и вы совершенно спокойно использовали широчайший спектр информации, инструментов и возможностей, которые предлагает интернет.</p>
        <p>Личная информация пользователей, собранная при регистрации или подписке (или в любое другое время) преимущественно используется для подготовки продуктов или услуг. Личная информация не будет передана или продана третьим сторонам. Однако мы можем частично раскрывать личную информацию в особых случаях, описанных в "Согласии с рассылкой"</p>
        <p>С какой целью собираются эти данные?</p>
        <p>Имя используется для обращения лично к вам, а ваш e-mail для отправки вам писем рассылок, новостей тренинга, полезных материалов, коммерческих предложений.</p>
        <p>Вы можете отказаться от получения писем рассылки и удалить из базы данных свои контактные данные в любой момент, кликнув на ссылку для отписки, присутствующую в каждом письме.</p>
        <p>Как эти данные используются?</p>
        <p>На сайте используются куки (Cookies) и данные о посетителях сервиса Google Analytics и Яндекс.Метрика.</p>
        <p>При помощи этих данных собирается информация о действиях посетителей на сайте с целью улучшения его содержания, улучшения функциональных возможностей сайта и, как следствие, создания качественного контента и сервисов для посетителей.</p>
        <p>Вы можете в любой момент изменить настройки своего браузера так, чтобы браузер блокировал все файлы cookie или оповещал об отправке этих файлов. Учтите при этом, что некоторые функции и сервисы не смогут работать должным образом.</p>
        <p>Как эти данные защищаются</p>
        <p>Для защиты вашей личной информации мы используем разнообразные административные, управленческие и технические меры безопасности. Наша компания придерживается различных международных стандартов контроля, направленных на операции с личной информацией, которые включают определенные меры контроля по защите информации, собранной в интернете.</p>
        <p>Наших сотрудников обучают понимать и выполнять эти меры контроля, они ознакомлены с нашим уведомлением о конфиденциальности, нормами и инструкциями.</p>
        <p>Тем не менее, несмотря на то, что мы стремимся обезопасить вашу личную информацию, вы тоже должны принимать меры, чтобы защитить ее.</p>
        <p>Мы настоятельно рекомендуем вам принимать все возможные меры предосторожности во время пребывания в интернете.</p>
        <p>Организованные нами услуги и сайты предусматривают меры по защите от утечки, несанкционированного использования и изменения информации, которую мы контролируем. Несмотря на то, что мы делаем все возможное, чтобы обеспечить целостность и безопасность своей сети и систем, мы не можем гарантировать, что наши меры безопасности предотвратят незаконный доступ к этой информации хакеров сторонних организаций.</p>
        <p>Для связи с администратором сайта по любым вопросам вы можете написать письмо на e-mail: </p>
      </div>
    </div>
    <div id="cheese" class="forms-popup mfp-hide">
      <div class="form-wrapp">
        <div class="form-title">
          <h3>Сыр и сырная продукция</h3>
        </div>
        <p>Сыр обладает полезными свойствами, cвязано это с тем, что в его состав входит молоко, специальные свертывающие ферменты и молочно-кислые бактерии. Сыр и сыропродукты – продукт массового употребления по-этому они отлично подходят для приготовления повседневных и праздничных блюд. В рецептуре линейки традиционных сыров воплощены многолетние традиции лучших сыроделов России. Производством сыра занимаются разные страны, а история происхождения этого сыра начинается с древнего Востока.</p>
      </div>
    </div>
    <div id="curd" class="forms-popup mfp-hide">
      <div class="form-wrapp">
        <div class="form-title">
          <h3>Творог и творожный продукт</h3>
        </div>
        <p>Нежный творог 18% жирности из свежайшего деревенского молока богат легко усваиваемым белком, а также кальцием и фосфором. Идеальная, по мнению диетологов, жирность творога гармонично сочетается с чуть кисловатым, богатым молочным вкусом. Наш творог делается из парного молока и это идеальный продукт для детского и диетического питания и замечательная основа для множества домашних блюд. Творог из парного молока имеет тонкий сливочный вкус и делается по семейному рецепту. Завтраки, полдники и перекусы станут с ним настоящим уютным семейным праздником!</p>
      </div>
    </div>
    <div id="sour-cream" class="forms-popup mfp-hide">
      <div class="form-wrapp">
        <div class="form-title">
          <h3>Сметана и сметанный продукт</h3>
        </div>
        <p>Сметана является кисломолочным продуктом, который получают сливок и закваски путем кисломолочного брожения. Родиной сметаны считается Россия. Сметану широко используется в кулинарии. Ее применяют как основу для приготовления всевозможных соусов и подливок для мяса и рыбы, используют в процессе тушения овощей, мяса, рыбы, грибов, также она является заправкой для многих салатов (особенно хороши со сметаной овощные салаты). Сметана хорошо усваивается организмом человека (в отличие от сливок), это связано с тем, что в процессе сквашивания происходит изменение структуры белка, входящего в состав сметаны.</p>
      </div>
    </div>
    <div id="butter" class="forms-popup mfp-hide">
      <div class="form-wrapp">
        <div class="form-title">
          <h3>Сливочное масло и спреды</h3>
        </div>
        <p>Сливочное масло – концентрат молочного жира, изготавливаемый путем сбивания или сепарирования сливок, как правило, полученных из коровьего молока. Сливочное масло было достаточно известным продуктом питания в V веке в Ирландии, а уже в IX веке на Руси и в Италии. Особенно широко сливочное масло используется в кондитерской промышленности для выпечки печенья, тортов, пряников, пирогов. Его добавляют в соусы и салаты, но чаще всего с ним готовят бутерброды или канапе с мясом, рыбой, овощами и зеленью. Сливочное масло – ценный источник витамина А (0,5 мг в 100 г масла), фосфатидов и полиненасыщенных жирных кислот.</p>
      </div>
    </div>
    <div id="yogurt" class="forms-popup mfp-hide">
      <div class="form-wrapp">
        <div class="form-title">
          <h3>Весовые йогурты более 15 видов</h3>
        </div>
        <p>По легенде, турецкие кочевники, перевозя молоко на спине животных в бурдюках, куда из воздуха попадали различные бактерии, а на жаре начиналось брожение продукта, из которого получался кислый напиток, получивший название йогурт (в переводе с турецкого - "густой").  Йогурт изготавливается из натурального коровьего или овечьего молока, и содержит в себе культуры болгарской палочки и термофильного стрептококка. Йогурт содержит витамины группы В, кальций и фосфор, которые необходимы для правильного роста и развития малышей и поддержания здоровья взрослых.</p>
      </div>
    </div>
    <!-- JS -->
    <script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript">
      ymaps.ready(init);
      var myMap,
          myPlacemark;

      function init(){
          myMap = new ymaps.Map("map", {
              center: [54.73789416209832,55.93564709100742],
              zoom: 14,
              controls: []
          });
          myPlacemark = new ymaps.Placemark([54.73743456994438,55.9332955], { hintContent: 'ООО "Поставкинъ"<br> ОГРН 1160280085833, <br>ИНН 0275906600, <br>450076 РБ, г.Уфа, ул.Гафури, д.105', balloonContent: '' });

          myMap.geoObjects.add(myPlacemark);
      }
    </script>
    <!-- WhatsHelp.io widget -->
    <script type="text/javascript">
          (function () {
              var options = {
                  whatsapp: "+79018122338", // WhatsApp number
                  company_logo_url: "ПоставкинЪ", // URL of company logo (png, jpg, gif)
                  greeting_message: "Здравствуйте, как мы можем Вам помочь?", // Text of greeting message
                  call_to_action: "", // Call to action
                  wa_vb_message: "Добавьте наш номер в список контактов телефона. После чего напишите нам через мессенджер.", // Message for WhatsApp
                  position: "right", // Position may be 'right' or 'left'
              };
              var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
              var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
              s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
              var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
          })();
      </script>
    <!-- /WhatsHelp.io widget -->
    <!-- WhatsHelp.io widget -->
    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "+79018122338", // WhatsApp number
                email: "89018122338@rambler.ru", // Email
                sms: "+79018122338", // Sms phone number
                call: "+79018122338", // Call phone number
                company_logo_url: "//static0.whatshelp.io/img/flag.png", // URL of company logo (png, jpg, gif)
                greeting_message: "Здравствуйте, как мы можем Вам помочь?", // Text of greeting message
                call_to_action: "", // Call to action
                wa_vb_message: "Добавьте наш номер в список контактов телефона. После чего напишите нам через мессенджер.", // Message for WhatsApp
                button_color: "#FF6550", // Color of button
                position: "right", // Position may be 'right' or 'left'
                order: "whatsapp,sms,call,email" // Order of buttons
            };
            var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!-- /WhatsHelp.io widget -->
  </body>
</html>
