<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Charset and Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Title -->
    <title>Home</title>
    <!-- Favicons -->
    <link rel="icon" href="img/favicons/16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="img/favicons/32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="img/favicons/48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="img/favicons/62.png" sizes="62x62" type="image/png">
    <link rel="icon" href="img/favicons/192.png" sizes="192x192" type="image/png">
    <!-- SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Author and Copyright -->
    <link rel="author" href="">
    <link rel="copyright" href="">
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/libs.min.css">
  </head>
  <body>
    <header class="header-top">
      <div class="menu-wrapp-overlay">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-2">
              <a class="logo" href="">
                <img class="logo-img" src="img/cheese-logo.svg" alt="">
                <span class="logo-name">Поставкин<span class="logo-name-letter">Ъ</span></span>
              </a>
            </div>
            <div class="col-lg-8">
              <nav class="navigation-wrapp">
                <ul>
                  <li class="navigation">
                    <a class="navigation-link" href="">Главная</a>
                  </li>
                  <li class="navigation">
                    <a class="navigation-link" href="">Продукция</a>
                  </li>
                  <li class="navigation">
                    <a class="navigation-link" href="">О нас</a>
                  </li>
                  <li class="navigation">
                    <a class="navigation-link" href="">Партнёрам</a>
                  </li>
                  <li class="navigation">
                    <a class="navigation-link" href="">Контакты</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-lg-2">
              <div class="number">
                <a class="number-link" href="#forms-top"><i class="fa fa-phone-square" aria-hidden="true"></i>+7(999)999-99-99</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay-header-top">
        <div id="carousel">
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-5 col-xs-4">
                  <img class="carousel-item-img" src="img/products/img-banner-1.png" alt="">
                </div>
                <div class="col-lg-7 col-xs-8">
                  <div class="carousel-item-description">
                    <h1>Сыр и сырная продукция</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-5">
                  <img class="carousel-item-img" src="img/products/story-bowl.png" alt="">
                </div>
                <div class="col-lg-7">
                  <div class="carousel-item-description">
                    <h1>Творог и творожный продукт</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-5">
                  <img class="carousel-item-img" src="img/products/light-cream-cheese-dip.png" alt="">
                </div>
                <div class="col-lg-7">
                  <div class="carousel-item-description">
                    <h1>Сметана и сметанный продукт</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-5">
                  <img class="carousel-item-img" src="img/products/580b57fbd9996e24bc43c0b0.png" alt="">
                </div>
                <div class="col-lg-7">
                  <div class="carousel-item-description">
                    <h1>Сливочное масло и спреды</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-5">
                  <img class="carousel-item-img" src="img/products/yogurt.png" alt="">
                </div>
                <div class="col-lg-7">
                  <div class="carousel-item-description">
                    <h1>Весовые йогурты более 15 видов</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="products-wrapp">
      <div class="overlay-products-wrapp">
        <div class="section-product-pad">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <header class="section-title">
                  <h2>Продукция</h2>
                  <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и </p>
                </header>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="products-wrapp-item">
                  <div class="products-item-img-wrap">
                    <div class="products-item-img-wrap-overlay">
                      <img class="products-item-img" src="img/products/0_c9f56_5edd596b_L.png" alt="">
                    </div>
                    <div class="products-item-img-review-wrapp">
                      <img class="products-item-img-review" src="img/review/5.svg" alt="">
                    </div>
                  </div>
                  <div class="products-item-description">
                    <h3>Творог “Домашнний”</h3>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и </p>
                    <a href="" class="button">Подробнее</a>
                  </div>
                </div>
                <div class="products-wrapp-item">
                  <div class="products-item-img-wrap">
                    <div class="products-item-img-wrap-overlay">
                      <img class="products-item-img" src="img/products/goods_1884.png" alt="">
                    </div>
                    <div class="products-item-img-review-wrapp">
                      <img class="products-item-img-review" src="img/review/4.svg" alt="">
                    </div>
                  </div>
                  <div class="products-item-description">
                    <h3>Творог “По-домашнему”</h3>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и </p>
                    <a href="" class="button">Подробнее</a>
                  </div>
                </div>
                <div class="products-wrapp-item">
                  <div class="products-item-img-wrap">
                    <div class="products-item-img-wrap-overlay">
                      <img class="products-item-img" src="img/products/1395674666533048e4472e3,300x300,zoom,s-2463944065.png" alt="">
                    </div>
                    <div class="products-item-img-review-wrapp">
                      <img class="products-item-img-review" src="img/review/5.svg" alt="">
                    </div>
                  </div>
                  <div class="products-item-description">
                    <h3>Творог “По-домашнему”</h3>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и </p>
                    <a href="" class="button">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="about-us-wrapp">
      <div class="section-product-pad">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <header class="section-title">
                <h2>О нас</h2>
              </header>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="about-us-img-wrapp">
                <img class="about-us-img" src="img/Sklad-zamenitelya-zhira-i-zhirovoj-produktsii-v-Ekaterinburge.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-us-description">
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</p>
                <p>Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI век</p>
                <p>Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI век</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="partners-wrapp">
      <div class="partners-wrapp-overlay">
        <div class="section-product-pad">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <header class="section-title">
                  <h2>Партнерам</h2>
                </header>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="about-us-description">
                  <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</p>
                  <p>Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI век</p>
                  <a href="#forms-price" class="button prices-link">Заказать прайс</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-us-img-wrapp">
                  <img class="about-us-img" src="img/partners.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="clients-wrapp">
      <div class="section-product-pad">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <header class="section-title">
                <h2>Наши клиенты</h2>
              </header>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                <div id="clients-carousel">
                  <div class="clients-carousel-item">
                    <img class="clients-img" src="img/partners/1.png" alt="">
                  </div>
                  <div class="clients-carousel-item">
                    <img class="clients-img" src="img/partners/2.png" alt="">
                  </div>
                  <div class="clients-carousel-item">
                    <img class="clients-img" src="img/partners/3.png" alt="">
                  </div>
                  <div class="clients-carousel-item">
                    <img class="clients-img" src="img/partners/4.png" alt="">
                  </div>
                  <div class="clients-carousel-item">
                    <img class="clients-img" src="img/partners/5.png" alt="">
                  </div>
                  <div class="clients-carousel-item">
                    <img class="clients-img" src="img/partners/6.png" alt="">
                  </div>
                  <div class="clients-carousel-item">
                    <img class="clients-img" src="img/partners/7.png" alt="">
                  </div>
                  <div class="clients-carousel-item">
                    <img class="clients-img" src="img/partners/8.png" alt="">
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    <section class="contacts-wrapp">
      <div id="map">
        <div class="section-product-pad">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <header class="section-title">
                  <h2>Контакты</h2>
                </header>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8"></div>
              <div class="col-lg-4">
                <div class="form-wrapp">
                  <div class="form-title">
                    <h3>Заказать звонок</h3>
                  </div>
                  <form class="form" action="">
                    <label>Введите ваше имя<sup>*</sup>
                      <input type="text" name="name" placeholder="Введите ваше имя" required>
                    </label>
                    <label>Введите ваш номер телефона<sup>*</sup>
                      <input type="tel" name="name" placeholder="Введите ваше имя" required>
                    </label>
                    <label>Введите ваш Email <small>(Не обязательно)</small>
                      <input type="email" name="name" placeholder="Введите ваше имя">
                      <span class="form-email-help">Для получения новостий, пожалуйста заполните поле</span>
                    </label>
                    <button class="button" type="submit" name="button" >Заказать звонок</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- popup -->
    <div id="forms-top" class="forms-popup mfp-hide">
      <div class="form-wrapp">
        <div class="form-title">
          <h3>Заказать звонок</h3>
        </div>
        <form class="form" action="">
          <label>Введите ваше имя<sup>*</sup>
            <input type="text" name="name" placeholder="Введите ваше имя" required>
          </label>
          <label>Введите ваш номер телефона<sup>*</sup>
            <input type="tel" name="name" placeholder="Введите ваше имя" required>
          </label>
          <button class="button" type="submit" name="button" >Заказать звонок</button>
        </form>
      </div>
    </div>
    <div id="forms-price" class="forms-popup mfp-hide">
      <div class="form-wrapp">
        <div class="form-title">
          <h3>Заказать прайс</h3>
        </div>
        <form class="form" action="">
          <label>Введите ваше имя<sup>*</sup>
            <input type="text" name="name" placeholder="Введите ваше имя" required>
          </label>
          <label>Введите вашу организацию<sup>*</sup>
            <input type="text" name="name" placeholder="Введите ваше имя" required>
          </label>
          <label>Введите ваш номер телефона<sup>*</sup>
            <input type="tel" name="name" placeholder="Введите ваше имя" required>
          </label>
          <label>Введите ваш Email
            <input type="email" name="name" placeholder="Введите ваше имя">
          </label>
          <button class="button" type="submit" name="button" >Заказать звонок</button>
        </form>
      </div>
    </div>
    <div id="privacy-policy" class="forms-popup mfp-hide">
      <div class="form-wrapp">
        <div class="form-title">
          <h3>Политика конфиденциальности</h3>
        </div>
        <p>Политика в отношении обработки персональных данных определяет основные принципы и правила по обработке персональных данных, которыми мы руководствуемся в нашей работе, а также в общении с клиентами, поставщиками и сотрудниками. Политика в отношении обработки персональных данных распространяется на всех наших сотрудников.</p>
        <p>При обработке персональных данных мы стремимся соблюдать требования законодательства Российской Федерации, в частности Федеральный закон № 152-ФЗ «О персональных данных», а также нормы и правила, установленные в нашей компании.</p>
        <p>Ваша конфиденциальность очень важна для нас. Мы хотим, чтобы ваша работа в интернете по возможности была максимально приятной и полезной, и вы совершенно спокойно использовали широчайший спектр информации, инструментов и возможностей, которые предлагает интернет.</p>
        <p>Личная информация пользователей, собранная при регистрации или подписке (или в любое другое время) преимущественно используется для подготовки продуктов или услуг. Личная информация не будет передана или продана третьим сторонам. Однако мы можем частично раскрывать личную информацию в особых случаях, описанных в "Согласии с рассылкой"</p>
        <p>С какой целью собираются эти данные?</p>
        <p>Имя используется для обращения лично к вам, а ваш e-mail для отправки вам писем рассылок, новостей тренинга, полезных материалов, коммерческих предложений.</p>
        <p>Вы можете отказаться от получения писем рассылки и удалить из базы данных свои контактные данные в любой момент, кликнув на ссылку для отписки, присутствующую в каждом письме.</p>
        <p>Как эти данные используются?</p>
        <p>На сайте используются куки (Cookies) и данные о посетителях сервиса Google Analytics и Яндекс.Метрика.</p>
        <p>При помощи этих данных собирается информация о действиях посетителей на сайте с целью улучшения его содержания, улучшения функциональных возможностей сайта и, как следствие, создания качественного контента и сервисов для посетителей.</p>
        <p>Вы можете в любой момент изменить настройки своего браузера так, чтобы браузер блокировал все файлы cookie или оповещал об отправке этих файлов. Учтите при этом, что некоторые функции и сервисы не смогут работать должным образом.</p>
        <p>Как эти данные защищаются</p>
        <p>Для защиты вашей личной информации мы используем разнообразные административные, управленческие и технические меры безопасности. Наша компания придерживается различных международных стандартов контроля, направленных на операции с личной информацией, которые включают определенные меры контроля по защите информации, собранной в интернете.</p>
        <p>Наших сотрудников обучают понимать и выполнять эти меры контроля, они ознакомлены с нашим уведомлением о конфиденциальности, нормами и инструкциями.</p>
        <p>Тем не менее, несмотря на то, что мы стремимся обезопасить вашу личную информацию, вы тоже должны принимать меры, чтобы защитить ее.</p>
        <p>Мы настоятельно рекомендуем вам принимать все возможные меры предосторожности во время пребывания в интернете.</p>
        <p>Организованные нами услуги и сайты предусматривают меры по защите от утечки, несанкционированного использования и изменения информации, которую мы контролируем. Несмотря на то, что мы делаем все возможное, чтобы обеспечить целостность и безопасность своей сети и систем, мы не можем гарантировать, что наши меры безопасности предотвратят незаконный доступ к этой информации хакеров сторонних организаций.</p>
        <p>Для связи с администратором сайта по любым вопросам вы можете написать письмо на e-mail: </p>
      </div>
    </div>
    <footer class="footer">
      <div class="section-product-pad">
        <div class="container-fluid">
          <small class="legal-address">ООО "ПоставкинЪ" ОГРН 115746385158, ИНН 772130871 г.Уфа, Рязанский пр., 10</small>
          <small class="privacy-policy">
            <a class="privacy-policy-link" href="#privacy-policy">Политика конфиденциальности</a>
          </small>
        </div>
      </div>
    </footer>
    <!-- JS -->
    <script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
      ymaps.ready(init);
      var myMap,
          myPlacemark;

      function init(){
          myMap = new ymaps.Map("map", {
              center: [54.73393428, 55.96664947],
              zoom: 14,
              controls: []
          });
          myPlacemark = new ymaps.Placemark([54.73393428, 55.96664947], { hintContent: '000 "ПоставкинЪ"', balloonContent: '' });

          myMap.geoObjects.add(myPlacemark);
      }
    </script>
  </body>
</html>
