<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Charset and Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Title -->
    <title>Home</title>
    <!-- Favicons -->
    <link rel="icon" href="img/favicons/16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="img/favicons/32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="img/favicons/48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="img/favicons/62.png" sizes="62x62" type="image/png">
    <link rel="icon" href="img/favicons/192.png" sizes="192x192" type="image/png">
    <!-- SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Author and Copyright -->
    <link rel="author" href="">
    <link rel="copyright" href="">
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/libs.min.css">
  </head>
  <body>
    <header class="header-top">
      <div class="menu-wrapp-overlay">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3">
              <a class="logo" href="">
                <img class="logo-img" src="img/cheese-logo.svg" alt="">
                <span class="logo-name">Поставкин<span class="logo-name-letter">Ъ</span></span>
              </a>
            </div>
            <div class="col-lg-6">
              <nav class="navigation-wrapp">
                <ul>
                  <li class="navigation">
                    <a class="navigation-link" href="">Главная</a>
                  </li>
                  <li class="navigation">
                    <a class="navigation-link" href="">Продукция</a>
                  </li>
                  <li class="navigation">
                    <a class="navigation-link" href="">О нас</a>
                  </li>
                  <li class="navigation">
                    <a class="navigation-link" href="">Партнёрам</a>
                  </li>
                  <li class="navigation">
                    <a class="navigation-link" href="">Контакты</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-lg-3">
              <div class="number">
                <a class="number-link" href="tel:89999999999"><i class="fa fa-phone-square" aria-hidden="true"></i>+7(999)999-99-99</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay-header-top">
      </div>
    </header>
    <!-- JS -->
    <script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
