@charset "UTF-8";
/* 1. Сброс стилей */
body {
  font-size: 1rem;
  line-height: normal;
  min-width: 20rem;
  overflow-x: hidden;
  color: #ffffff; }

body, header, section, div, h1, h2, h3, h4, p, img {
  margin: 0;
  padding: 0; }

a {
  color: #ffffff; }
  a:hover, a:active, a:focus {
    color: #ffffff;
    text-decoration: none; }
  a:focus {
    outline: none; }

blockquote {
  margin: 0;
  font-size: 1.3rem;
  font-family: "OpenSans-itelic"; }

input, textarea, button {
  border: none; }
  input:focus, textarea:focus, button:focus {
    outline: none; }

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

/* 2. Типографика */
h1 {
  font-family: "OpenSans-ExtraBold";
  font-size: 4.375rem;
  text-transform: uppercase;
  line-height: 0.8;
  font-weight: 800;
  margin-bottom: 2.188rem; }

h2 {
  font-family: "OpenSans-Semibold";
  font-size: 2.188rem;
  text-transform: uppercase;
  color: #3b434c; }

h3 {
  font-family: "OpenSans-Semibold";
  font-size: 1.563rem; }

p {
  font-family: "OpenSans-Regular";
  font-size: 1rem;
  color: #3b434c; }

a {
  font-family: "OpenSans-Regular"; }

/* 3. Неадер */
.headerBg {
  background-image: url(../img/bg-header.jpg);
  background-size: cover;
  background-position: left 70%; }

.bgOpacity {
  background-color: rgba(54, 61, 68, 0.9);
  height: inherit; }

.headerTopPad {
  padding: 2.2rem 0 3rem 0;
  display: inline-block;
  width: 100%; }

.logo {
  width: 10rem; }
  .logo a {
    display: block; }

.buttonBurger {
  float: right;
  width: 5.625rem;
  cursor: pointer;
  position: relative; }

.burger-name {
  display: inline-block;
  margin-right: 0;
  position: absolute;
  right: 2.813rem; }

.burger {
  float: right;
  display: inline-block;
  position: relative;
  height: inherit;
  width: 1.625rem;
  position: relative; }
  .burger div {
    min-width: 100%;
    min-height: 0.125rem;
    margin-bottom: 0.4375rem;
    background-color: #ffffff; }

.headerDecription {
  margin: 5.6rem 0 0 0;
  text-align: center; }
  .headerDecription span {
    color: #f7600e; }
  .headerDecription p {
    display: inline-block;
    max-width: 30.400em;
    width: 100%;
    font-size: 1.563rem;
    line-height: 2.5rem;
    color: #ffffff; }

.buttonTop {
  text-align: center;
  margin: 3.125rem 0 6.25rem 0; }

.button {
  margin: 0 0.875rem;
  text-transform: uppercase;
  width: 13.13rem;
  display: inline-block;
  border: 0.0625rem solid #65696e;
  line-height: 3rem;
  -webkit-border-radius: 0.375rem;
  border-radius: 0.375rem;
  -webkit-transition: all .2s linear;
  transition: all .2s linear; }
  .button:hover {
    background-color: #f7600e;
    border-color: #f7600e; }

.arroWrap {
  width: 2.188rem;
  text-align: center;
  margin: 1.25rem auto 1.875rem auto; }

.navigation {
  opacity: 0;
  text-align: center;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(54, 61, 68, 0.9);
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  overflow-x: auto; }
  .navigation li {
    text-transform: uppercase;
    font-size: 2.188rem;
    line-height: 4rem;
    font-family: "OpenSans-Semibold"; }
  .navigation ul {
    padding: 6rem 0 2rem 0;
    border-bottom: 0.125rem solid #f7600e;
    width: 13.75rem;
    margin: 0 auto; }
  .navigation a:hover {
    color: #f7600e; }
  .navigation .social {
    margin: 2rem 0 2rem 0; }
    .navigation .social a {
      display: inline-block;
      margin: 0 0.3125rem; }

.closed {
  position: absolute;
  top: 2.188rem;
  right: 7.438rem;
  width: 1.625rem;
  cursor: pointer;
  height: 1.375rem; }
  .closed div {
    min-width: 100%;
    min-height: 0.125rem;
    background-color: #fff;
    margin: 0.625rem 0 0 0; }
    .closed div:first-child {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .closed div:last-child {
      margin: -0.095rem 0 0 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.sticky {
  left: 0;
  position: fixed;
  height: 100px;
  width: 100%;
  margin: 0 auto; }

.wrap-sicky {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto; }

/* 4. items */
.we-work {
  padding: 6.25rem 0;
  color: #3b434c; }

.items {
  text-align: center; }
  .items .item-img {
    width: 9.375rem;
    height: 9.375rem;
    display: inline-block;
    border: 0.0625rem solid #c4c6c9;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 2.875rem 0 0 0;
    margin-bottom: 1.563rem; }
  .items h2 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.563rem; }
  .items p {
    font-size: 0.875rem;
    padding: 0 3.125rem;
    line-height: 1.5rem; }

.items-1 img {
  width: 3.438rem; }

.items-2 img {
  width: 3.563rem; }

.items-3 img {
  width: 2.188rem; }

.items-4 img {
  width: 2.25rem; }

/* 5. Subscribe */
.subscibes-wrap {
  background-image: url(../img/bg-header2.jpg);
  background-size: cover; }

.subscribes {
  padding: 5rem 0;
  text-align: center; }
  .subscribes input[type="email"] {
    max-width: 35rem;
    width: 100%;
    padding: 0 1.563rem;
    height: 3.125rem;
    -webkit-border-radius: 0.5625rem;
    border-radius: 0.5625rem; }

.buttonS {
  border: none;
  background-color: #f7600e;
  color: #ffffff;
  line-height: 3.125rem;
  padding: 0 3.063rem;
  -webkit-border-radius: 0.5625rem;
  border-radius: 0.5625rem;
  width: 16.88rem;
  margin: 1.5rem; }

/* 6. items works */
.works {
  padding: 6.25rem 0;
  text-align: center; }
  .works .buttons {
    margin: 4.5rem 0 0 0;
    display: inline-block; }
  .works .button {
    color: #3b434c;
    border-color: #d8d9db; }
    .works .button:hover {
      color: #ffffff;
      border-color: #f7600e; }

.works-header, .teams-header, .message-header {
  display: inline-block;
  width: 100%;
  margin-bottom: 3.125rem; }
  .works-header span, .teams-header span, .message-header span {
    color: #f7600e; }
  .works-header p, .teams-header p, .message-header p {
    max-width: 31.25rem;
    width: 100%;
    margin: 1.25rem auto 0 auto;
    line-height: 1.875rem; }

.wrap-item-work {
  max-width: 22.5rem;
  width: 100%;
  height: 22.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 1.75rem; }
  .wrap-item-work:hover .decribtion {
    opacity: 1;
    top: 0rem; }
  .wrap-item-work img {
    margin: 0 0 0 -0.8125rem;
    position: relative;
    height: inherit; }
  .wrap-item-work .decribtion {
    position: absolute;
    top: 22.5rem;
    height: inherit;
    background-color: rgba(247, 96, 14, 0.9);
    padding: 5rem 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .wrap-item-work .decribtion h3 {
      margin-bottom: 1.25rem; }
    .wrap-item-work .decribtion p {
      font-size: 0.875rem;
      color: #ffffff;
      line-height: 1.5rem;
      padding: 0 2.5rem; }
    .wrap-item-work .decribtion .button {
      margin: 2.813rem 0 0 0;
      border-color: #ffffff;
      color: #ffffff; }
      .wrap-item-work .decribtion .button:hover {
        background-color: #ffffff;
        color: #f7600e; }

/* 7. comments slider */
.comments {
  background-image: url(../img/bg-header3.jpg);
  background-size: cover;
  background-position: 70% 0%; }

.wrap-item-comments {
  padding: 6.25rem 0;
  text-align: center; }
  .wrap-item-comments .item-img {
    width: 7.5rem;
    height: 7.5rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    position: relative; }
    .wrap-item-comments .item-img img {
      position: absolute;
      left: -0.25rem; }

.wrap-blockquote {
  padding-top: 3.125rem;
  max-width: 50rem;
  width: 100%;
  margin: 0 auto; }
  .wrap-blockquote blockquote {
    line-height: 2.375rem; }
  .wrap-blockquote .author {
    margin: 1.25rem 0 0 0;
    display: block;
    font-family: "OpenSans-Semibold";
    font-size: 1.1em; }

.carouse {
  position: relative; }

.owl-controls {
  top: 0;
  left: 0; }

.owl-buttons .owl-prev, .owl-buttons .owl-next {
  width: 1.313rem;
  height: 2.5rem;
  position: absolute;
  top: 50%; }

.owl-buttons .owl-prev {
  background-image: url(../img/btn-left-slide.png);
  left: 0;
  margin-top: -1.25rem;
  margin-left: 6.25rem; }

.owl-buttons .owl-next {
  background-image: url(../img/btn-right-slide.png);
  right: 0;
  margin-top: -1.25rem;
  margin-right: 6.25rem; }

/* 8. Item teams */
.teams {
  padding: 6.25rem 0;
  text-align: center; }

.teams-header {
  margin-bottom: 0; }

.wrap-items-team {
  display: inline-block;
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.4s ease;
  transition: -webkit-filter 0.4s ease;
  transition: filter 0.4s ease;
  transition: filter 0.4s ease, -webkit-filter 0.4s ease; }
  .wrap-items-team:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }
    .wrap-items-team:hover .items-img img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    .wrap-items-team:hover .items-img span {
      width: 15.63rem;
      left: 0; }
  .wrap-items-team .items-img {
    width: 100%;
    height: 19.38rem;
    overflow: hidden;
    position: relative; }
    .wrap-items-team .items-img img {
      -webkit-border-radius: 0.375rem;
      border-radius: 0.375rem;
      width: 14.69rem;
      height: 16.13rem;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -7.313rem;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .wrap-items-team .items-img span {
      -webkit-border-radius: 0.25rem;
      border-radius: 0.25rem;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0.3125rem;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      background-color: #f7600e;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
  .wrap-items-team .description {
    margin: 0.9375rem 0 0 0; }
    .wrap-items-team .description h3 {
      font-size: 1.563rem;
      text-transform: uppercase;
      color: #3b434c;
      margin-bottom: 0.9375rem; }
    .wrap-items-team .description a {
      display: inline-block;
      width: 1.5rem;
      margin-right: 0.4375rem;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .wrap-items-team .description a img {
        max-width: 100%; }
    .wrap-items-team .description p {
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin: 0.9375rem 0 2.5rem 0; }

/* 9. message */
.message {
  background-image: url("../img/bg-header4.jpg");
  background-size: cover;
  background-position: 70% 0; }
  .message .social {
    float: right;
    margin: 0 0.9375rem; }
    .message .social a {
      margin: 0.3125rem;
      width: 2.25rem;
      display: inline-block; }
      .message .social a img {
        max-width: 100%; }

.wrap-message {
  padding: 6.25rem 0; }

.message-header {
  text-align: center; }
  .message-header h2 {
    color: #ffffff; }
  .message-header p {
    color: #ffffff; }

.forms {
  max-width: 54.06rem;
  width: 100%;
  margin: 0 auto; }
  .forms input {
    width: 25rem;
    margin: 0 0.9375rem;
    -webkit-border-radius: 0.5625rem;
    border-radius: 0.5625rem;
    line-height: 3rem;
    padding: 0 1.25rem; }
  .forms textarea {
    text-align: left;
    margin: 1.875rem 0.9375rem;
    padding: 0.9375rem 1.875rem;
    max-width: 52.13rem;
    width: 100%;
    display: block;
    -webkit-border-radius: 0.5625rem;
    border-radius: 0.5625rem;
    resize: none;
    height: 12.5rem; }

.button-message {
  float: left; }
  .button-message .buttonS {
    margin: 0 0.9375rem;
    width: 13.13rem; }

/* 10. footer */
footer {
  background-color: #3b434c;
  padding: 2.813rem 0; }

.copy {
  float: left;
  text-transform: uppercase; }
  .copy span {
    font-size: 1rem; }

.url {
  float: right;
  text-transform: uppercase; }
  .url a {
    font-size: 0.95rem;
    font-family: "OpenSans-Semibold"; }
    .url a span {
      color: #d32640; }
