/* 1199px */
@media screen and (max-width: 74.94rem) {
  .items p {
    padding: 0 0.5rem; }
  .owl-buttons .owl-next {
    margin-top: -3.25rem; }
  .owl-buttons .owl-prev {
    margin-top: -3.25rem; } }

/* 991px */
@media screen and (max-width: 61.94rem) {
  .items .item-img {
    width: 8.375rem;
    height: 8.375rem;
    padding: 2.5rem 0 0 0;
    margin-bottom: 1rem; }
  .items h2 {
    margin-bottom: 1rem; }
  .items p {
    font-size: 0.79rem;
    line-height: 1.35rem; }
  .subscribes input[type="email"] {
    max-width: 23rem; }
  .subscribes .buttonS {
    width: 12.88rem; }
  .owl-buttons .owl-next {
    margin-top: -3.4rem; }
  .owl-buttons .owl-prev {
    margin-top: -3.4rem; }
  .wrap-blockquote {
    max-width: 40rem;
    padding-top: 2rem; }
    .wrap-blockquote blockquote {
      font-size: 1.2rem;
      line-height: 2rem; }
  .wrap-items-team:hover .items-img span {
    width: 14.8rem;
    left: 2.95rem; }
  .forms input {
    width: 20rem; } }

/* 767px*/
@media screen and (max-width: 47.94rem) {
  .headerDecription {
    margin: 2.6rem 0 0 0; }
    .headerDecription h1 {
      font-size: 3.375rem; }
    .headerDecription p {
      font-size: 1.2rem;
      line-height: 2rem; }
  .buttonTop {
    margin: 3.125rem 0 4.25rem 0; }
  .navigation ul {
    padding: 4rem 0 2rem 0; }
  .we-work {
    padding-bottom: 3.25rem; }
  .items {
    margin-bottom: 3rem; }
  .subscribes input[type="email"] {
    max-width: 19rem; }
  .subscribes .buttonS {
    width: 9.88rem;
    padding: 0;
    margin: 0.7rem; }
  .wrap-item-work {
    margin-left: auto;
    margin-right: auto; }
    .wrap-item-work img {
      height: auto; }
  .works-header p, .teams-header p, .message-header p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    max-width: 100%; }
  .works .buttons {
    margin: 3.5rem 0 0 0; }
  .wrap-blockquote {
    padding: 3.125rem 15px 0 15px;
    max-width: 100%; }
  .owl-buttons .owl-next {
    margin-top: -7rem;
    margin-right: 1.25rem; }
  .owl-buttons .owl-prev {
    margin-top: -7rem;
    margin-left: 1.25rem; }
  .wrap-items-team {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }
    .wrap-items-team:hover .items-img img {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; }
    .wrap-items-team:hover .items-img span {
      width: normal;
      left: 0; }
    .wrap-items-team .items-img span {
      width: 14.8rem;
      left: 0rem; }
  .forms textarea {
    width: 91%;
    max-width: auto; }
  .forms input {
    width: 91%;
    margin-bottom: 1.875rem; }
  .forms textarea {
    margin-top: 0; } }

/* 575px */
@media screen and (max-width: 35.94rem) {
  .headerBg {
    background-position: center right; }
  .closed {
    right: 0.95rem; }
  .subscribes input[type="email"] {
    max-width: 100%; }
  .subscribes .buttonS {
    width: 50%; }
  .we-work {
    padding: 5rem 0 2rem 0; }
  .works, .wrap-item-comments, .teams, .wrap-message {
    padding: 5rem 0; }
  .works .buttons {
    margin: 2.5rem 0 0 0; }
  .owl-buttons .owl-next {
    margin-top: -6.5rem; }
  .owl-buttons .owl-prev {
    margin-top: -6.5rem; }
  .wrap-items-team .items-img span {
    display: none; }
  .forms input {
    margin-bottom: 1.5rem; }
  .message .button-message {
    float: none;
    width: 91%; }
    .message .button-message .buttonS {
      width: 100%; }
  .message .social {
    margin-top: 1rem;
    text-align: center;
    float: none; }
  .copy {
    float: none;
    text-align: center;
    margin-bottom: 0.8rem; }
    .copy span {
      font-size: 0.8rem; }
  .url {
    float: none;
    text-align: center; }
    .url span {
      font-size: 0.8rem; }
  .wrap-items-team .description h3 {
    font-size: 1.4rem; } }

@media screen and (max-width: 31.88rem) {
  .headerBg .buttonTop {
    margin-bottom: 3.125rem; }
  .headerBg .button {
    margin-bottom: 1rem;
    font-size: 0.9em;
    width: 12.13rem; } }

/* 478px */
@media screen and (max-width: 29.88rem) {
  .headerDecription {
    margin: 1.6rem 0 0 0; }
    .headerDecription h1 {
      font-size: 2.375rem; }
    .headerDecription p {
      font-size: 0.9em;
      line-height: 1.6rem; }
    .headerDecription .button {
      margin: 0 0.2rem;
      font-size: 0.9em;
      width: 10.13rem; }
  .navigation li {
    font-size: 1.3rem;
    line-height: 3rem; }
  .navigation .social {
    margin: 1rem 0; }
    .navigation .social a {
      width: 30px; }
    .navigation .social img {
      max-width: 100%; }
  .items .item-img {
    width: 7.375rem;
    height: 7.375rem;
    padding: 2.5rem 0 0 0; }
    .items .item-img img {
      height: 40px; }
  .we-work {
    padding: 4rem 0 1rem 0; }
  .works, .wrap-item-comments, .teams, .wrap-message {
    padding: 4rem 0; }
  .works .buttons {
    margin: 1.5rem 0 0 0; }
  .works-header h2, .teams-header h2, .message-header h2 {
    font-size: 1.8rem; }
  .works-header p, .teams-header p, .message-header p {
    font-size: 0.9em;
    line-height: 1.6rem; }
  .owl-buttons .owl-next {
    margin-top: -5rem; }
  .owl-buttons .owl-prev {
    margin-top: -5rem; }
  .wrap-blockquote {
    padding-top: 1rem; }
    .wrap-blockquote blockquote {
      font-size: 1rem;
      line-height: 1.5rem; }
    .wrap-blockquote .author {
      font-size: 1rem; } }

/* 371px*/
@media screen and (max-width: 23.19rem) {
  .headerDecription {
    margin: 1.6rem 0 0 0; }
    .headerDecription h1 {
      font-size: 2.375rem; }
    .headerDecription p {
      font-size: 0.9em;
      line-height: 1.6rem; }
  .headerBg .button {
    margin: 0 0.2rem;
    font-size: 0.9em;
    width: 8.13rem; }
  .subscribes input[type="email"] {
    max-width: 100%; }
  .subscribes .buttonS {
    width: 100%;
    margin: 0.7rem 0; }
  .items h2 {
    font-size: 0.9rem; }
  .items p {
    font-size: 0.7rem;
    line-height: 1.2rem; }
  .owl-buttons {
    display: none; } }
