<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- CHARSET -->
	<meta charset="utf-8">
	<!-- VIEWPORT  -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- TITLE -->
	<title>Проект номер один</title>
	<!-- SEO -->
	<meta name="description" content="">
	<meta name="keywords" content="">
	<!-- CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/libs.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/media.css">
</head>
<body>
	<!-- HEADER -->
	<header id="home" class="headerBg">
		<div class="bgOpacity">
				<div class="container">
					<div class="row">
            <div class="headerTopPad">
  						<div class="col-lg-6 col-md-6 col-xs-6">
                <div class="logo">
    							<a href="" title="">
    								<img src="img/logo.png" alt="">
    							</a>
                </div>
  						</div>
  						<div class="col-lg-6 col-md-6 col-xs-6">
  							<div class="buttonBurger">
  								<span class="burger-name">Menu</span>
  								<div class="burger">
                    <div></div>
                    <div></div>
                    <div></div>
  								</div>
  							</div>
  						</div>
            </div>
					</div>
					<div class="row">
						<div class="col-md-12">
              <div class="headerDecription">
  							<h1>We Design <span>THINGS</span></h1>
  							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
              </div>
						</div>
            <div class="col-md-12">
              <div class="buttonTop">
                <a class="button" href="">HIRE US</a>
                <a class="button" href="">OUR WORKS</a>
              </div>
            </div>
            <div class="col-md-12">
              <div class="arroWrap">
                <a href="#we-work">
                  <img src="img/button-arrow.png" alt="">
                </a>
              </div>
            </div>
					</div>
				</div>
			</div>
		<!-- <nav>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="button-close">

						</div>
					</div>
				</div>
			</div>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">About us</a></li>
				<li><a href="">Sevices</a></li>
				<li><a href="">Our works</a></li>
				<li><a href="">Contact</a></li>
			</ul>
		</nav> -->
	</header>
  <div id="nav" class="navigation">
    <div class="closed">
      <div></div>
      <div></div>
    </div>
    <nav>
      <ul>
        <li><a href="#home">home</a></li>
        <li><a href="#works">our works</a></li>
        <li><a href="#team">team</a></li>
        <li><a href="#comments">comments</a></li>
        <li><a href="#message">Write to us</a></li>
      </ul>
    </nav>
    <div class="social">
      <a href="https://www.facebook.com" target="_blank"><img src="img/socialIcon-f.png" alt=""></a>
      <a href="https://twitter.com" target="_blank"><img src="img/socialIcon-t.png" alt=""></a>
      <a href="https://plus.google.com" target="_blank"><img src="img/socialIcon-gplus.png" alt=""></a>
      <a href="https://dribbble.com" target="_blank"><img src="img/socialIcon-dr.png" alt=""></a>
      <a href="https://www.behance.net" target="_blank"><img src="img/socialIcon-b.png" alt=""></a>
    </div>
  </div>
	<!-- SECTION ITEM -->
  <section id="we-work" class="we-work">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-6">
					<div class="items">
						<div class="item-img">
							<img src="img/items/item-print.png" alt="">
						</div>
						<h2>PRINT DESIGN</h2>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
					</div>
				</div>
				<div class="col-md-3 col-xs-6">
					<div class="items">
						<div class="item-img">
							<img src="img/items/item-monitor.png" alt="">
						</div>
						<h2>WEB Design</h2>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
					</div>
				</div>
				<div class="col-md-3 col-xs-6">
					<div class="items">
						<div class="item-img">
							<img src="img/items/item-telephone.png" alt="">
						</div>
						<h2>app DESIGN</h2>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
					</div>
				</div>
				<div class="col-md-3 col-xs-6">
					<div class="items">
						<div class="item-img">
							<img src="img/items/item-items.png" alt="">
						</div>
						<h2>logo DESIGN</h2>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- SECTION SUBSCRIBE -->
	<div class="subscibes-wrap">
		<div class="bgOpacity">
			<div class="container">
				<form class="subscribes" method="GET">
					<input type="email" placeholder="Enter Your email adress for newsletter" required>
					<input class="buttonS" type="submit" value="SUBSCRIBE">
				</form>
			</div>
		</div>
	</div>
	<!-- SECTION WORKS -->
	<section id="works" class="works">
		<div class="container">
			<div class="row">
        <div class="works-header">
  				<div class="col-md-12">
  					<h2>OUR <span>WORKS</span></h2>
  					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
  				</div>
        </div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
          <div class="wrap-item-work">
  					<img src="img/works/items-works1.png" alt="">
            <div class="decribtion">
  						<h3>ABAZOO WEBSITE</h3>
  						<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
  						<a class="button" title="">Show project</a>
  					</div>
          </div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
          <div class="wrap-item-work">
					  <img src="img/works/items-works2.png" alt="">
            <div class="decribtion">
  						<h3>ABAZOO WEBSITE</h3>
  						<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
  						<a class="button" href="" title="">Show project</a>
  					</div>
          </div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
          <div class="wrap-item-work">
  					<img src="img/works/items-works3.png" alt="">
            <div class="decribtion">
  						<h3>ABAZOO WEBSITE</h3>
  						<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
  						<a class="button" href="" title="">Show project</a>
  					</div>
          </div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
          <div class="wrap-item-work">
  					<img src="img/works/items-works4.png" alt="">
            <div class="decribtion">
  						<h3>ABAZOO WEBSITE</h3>
  						<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
  						<a class="button" href="" title="">Show project</a>
  					</div>
          </div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
          <div class="wrap-item-work">
  					<img src="img/works/items-works5.png" alt="">
            <div class="decribtion">
  						<h3>ABAZOO WEBSITE</h3>
  						<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
  						<a class="button" href="" title="">Show project</a>
  					</div>
          </div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
          <div class="wrap-item-work">
  					<img src="img/works/items-works6.png" alt="">
            <div class="decribtion">
  						<h3>ABAZOO WEBSITE</h3>
  						<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
  						<a class="button" href="" title="">Show project</a>
  					</div>
          </div>
				</div>
        <div class="buttons">
          <a class="button" href="#">SHOW MORE</a>
        </div>
			</div>
		</div>
	</section>
  <!-- SECTION SLIDER COMMENTS -->
  <section id="comments" class="comments">
    <div class="bgOpacity">
      <div class="carouse">
        <div class="wrap-item-comments">
          <div class="item-img">
            <img src="img/teams/person-review.png" alt="">
          </div>
          <div class="wrap-blockquote">
            <blockquote>
              These guys are incredible! I get my project in 10 days and it was awesome!Very good service! Highly recommended!
            </blockquote>
            <h3 class="author">John Smith</h3>
          </div>
        </div>
        <div class="wrap-item-comments">
          <div class="item-img">
                  <img src="img/teams/person-review.png" alt="">
                </div>
          <div class="wrap-blockquote">
            <blockquote>
              These guys are incredible! I get my project in 10 days and it was awesome!Very good service! Highly recommended!
            </blockquote>
            <h3 class="author">John Smith</h3>
          </div>
        </div>
        <div class="wrap-item-comments">
          <div class="item-img">
            <img src="img/teams/person-review.png" alt="">
          </div>
          <div class="wrap-blockquote">
            <blockquote>
              These guys are incredible! I get my project in 10 days and it was awesome!Very good service! Highly recommended!
            </blockquote>
            <h3 class="author">John Smith</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- SECTION TEAM -->
  <section id="team" class="teams">
    <div class="container">
			<div class="row">
        <div class="teams-header">
  				<div class="col-md-12">
  					<h2>Our <span>TEAM</span></h2>
  					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem</p>
  				</div>
        </div>
			</div>
			<div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="wrap-items-team">
            <div class="items-img">
              <img src="img/teams/persone-works-1.png" alt="">
              <span></span>
            </div>
            <div class="description">
              <h3>Catherina Gail</h3>
              <div class="social">
                <a href="https://www.facebook.com" target="_blank"><img src="img/socialIcon-f.png" alt=""></a>
                <a href="https://twitter.com" target="_blank"><img src="img/socialIcon-t.png" alt=""></a>
                <a href="https://plus.google.com" target="_blank"><img src="img/socialIcon-gplus.png" alt=""></a>
              </div>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="wrap-items-team">
            <div class="items-img">
              <img src="img/teams/persone-works-2.png" alt="">
              <span></span>
            </div>
            <div class="description">
              <h3>Harvey Rube</h3>
              <div class="social">
                <a href=""><img src="img/socialIcon-f.png" alt=""></a>
                <a href=""><img src="img/socialIcon-t.png" alt=""></a>
                <a href=""><img src="img/socialIcon-gplus.png" alt=""></a>
              </div>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="wrap-items-team">
            <div class="items-img">
              <img src="img/teams/persone-works-3.png" alt="">
              <span></span>
            </div>
            <div class="description">
              <h3>Janet Pris</h3>
              <div class="social">
                <a href=""><img src="img/socialIcon-f.png" alt=""></a>
                <a href=""><img src="img/socialIcon-t.png" alt=""></a>
                <a href=""><img src="img/socialIcon-gplus.png" alt=""></a>
              </div>
              <p>Commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="wrap-items-team">
            <div class="items-img">
              <img src="img/teams/persone-works-4.png" alt="">
              <span></span>
            </div>
            <div class="description">
              <h3>Kevin Ward</h3>
              <div class="social">
                <a href=""><img src="img/socialIcon-f.png" alt=""></a>
                <a href=""><img src="img/socialIcon-t.png" alt=""></a>
                <a href=""><img src="img/socialIcon-gplus.png" alt=""></a>
              </div>
              <p>Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat</p>
            </div>
          </div>
        </div>
			</div>
		</div>
  </section>
  <!-- SECTION MESSAGE -->
  <section id="message" class="message">
    <div class="bgOpacity">
      <div class="wrap-message">
        <div class="container">
    			<div class="row">
            <div class="message-header">
      				<div class="col-md-12">
      					<h2>say <span>hello</span></h2>
      					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      				</div>
            </div>
    			</div>
          <div class="row">
            <div class="forms">
              <form id="messages" class="">
                <input type="email" placeholder="Your Email" required>
                <input type="text" placeholder="Subject">
                <textarea placeholder="Your Message" maxlength="760"></textarea>
              </form>
              <div class="button-message">
                <button form="messages" class="buttonS" type="submit" name="button">HIRE US</button>
              </div>
              <div class="social">
                <a href="https://www.facebook.com" target="_blank"><img src="img/socialIcon-f.png" alt=""></a>
                <a href="https://twitter.com" target="_blank"><img src="img/socialIcon-t.png" alt=""></a>
                <a href="https://plus.google.com" target="_blank"><img src="img/socialIcon-gplus.png" alt=""></a>
                <a href="https://dribbble.com" target="_blank"><img src="img/socialIcon-dr.png" alt=""></a>
                <a href="https://www.behance.net" target="_blank"><img src="img/socialIcon-b.png" alt=""></a>
              </div>
            </div>
          </div>
    		</div>
      </div>
    </div>
  </section>
  <!-- FOOTER -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copy">
            <span>© 2015 CoPYRIGHT DESIGN STUDIO</span>
          </div>
          <div class="url">
            <span>DESIGNED BY <a href="">Symu<span>.</span>co</a></span>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/libs.min.js"></script>
  <script src="js/common.js"></script>
</body>
</html>
