<!DOCTYPE html>
<html lang="ru">
<head>
	<!-- CHARSET -->
	<meta charset="utf-8">
	<!-- VIEWPORT  -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- TITLE -->
	<title>Проект номер один</title>
	<!-- SEO -->
	<meta name="description" content="">
	<meta name="keywords" content="">
	<!-- CSS -->
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/media.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

</head>
<body>
	<!-- HEADER -->
	<header>
		<div class="header-bg">
			<div class="bg-opc">
				<div class="container">
					<div class="row header-pad">
						<div class="col-xs-6">
							<a href="" title="">
								<img src="img/logo.png" alt="">
							</a>
						</div>
						<div class="col-xs-6">
							<div class="button">
								<span class="burger-name">Menu</span>
								<div class="burger">
								</div>
							</div>			
						</div>
					</div>
					<div class="row header-descr">
						<div class="col-md-12">
							<h1>We Design <span>THINGS</span></h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
						</div>
						<div class="col-md-12 button-row">
							<a class="buttonS" href="">HIRE US</a>
							<a class="buttonS" href="">OUR WORKS</a>
						</div>
						<div class="col-md-12 arrow-wrap">
							<a class="arrow" href="">
								<img src="img/button-arrow.png" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="button-close">
							
						</div>
					</div>
				</div>
			</div>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">About us</a></li>
				<li><a href="">Sevices</a></li>
				<li><a href="">Our works</a></li>
				<li><a href="">Contact</a></li>
			</ul>
		</nav>
	</header>
	<!-- / HEADER -->
	<!-- SECTION ITEM -->
	<section>
		<div class="container">
			<div class="row item-wrapp">
				<div class="col-md-3 col-sm-6">
					<div class="items">
						<div class="item-img">
							<img src="img/item-print.png" alt="">
						</div>
						<h2>PRINT DESIGN</h2>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="items">
						<div class="item-img">
							<img src="img/item-monitor.png" alt="">
						</div>
						<h2>WEB Design</h2>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="items">
						<div class="item-img">
							<img src="img/item-telephone.png" alt="">
						</div>
						<h2>app DESIGN</h2>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="items">
						<div class="item-img">
							<img src="img/item-items.png" alt="">
						</div>
						<h2>logo DESIGN</h2>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- / SECTION ITEM -->
	<!-- SECTION SUBSCRIBE -->
	<div class="subscibes-wrap">
		<div class="bg-opc">
			<div class="container">
				<form method="GET">
					<input type="email" placeholder="Enter Your email adress for newsletter" required>
					<input class="buttonS" type="submit" value="SUBSCRIBE">
				</form>
			</div>
		</div>
	</div>
	<!-- / SECTION SUBSCRIBE -->
	<!-- SECTION WORKS -->
	<section class="works">
		<div class="container">
			<div class="row works-header">
				<div class="col-md-12">
					<h2>OUR <span>WORKS</span></h2>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>	
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 wrap-item-work">
					<div class="decrib">
						<h3>ABAZOO WEBSITE</h3>
						<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
						<a class="buttonS" href="" title="">Show project</a>
					</div>
					<img src="img/items-works1.png" alt="">
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 wrap-item-work">
					<div class="decrib">
						<h3>ABAZOO WEBSITE</h3>
						<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
						<a class="buttonS" href="" title="">Show project</a>
					</div>
					<img src="img/items-works2.png" alt="">
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 wrap-item-work">
					<div class="decrib">
						<h3>ABAZOO WEBSITE</h3>
						<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
						<a class="buttonS" href="" title="">Show project</a>
					</div>
					<img src="img/items-works3.png" alt="">
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 wrap-item-work">
					<div class="decrib">
						<h3>ABAZOO WEBSITE</h3>
						<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
						<a class="buttonS" href="" title="">Show project</a>
					</div>
					<img src="img/items-works4.png" alt="">
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 wrap-item-work">
					<div class="decrib">
						<h3>ABAZOO WEBSITE</h3>
						<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
						<a class="buttonS" href="" title="">Show project</a>
					</div>
					<img src="img/items-works5.png" alt="">
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 wrap-item-work">
					<div class="decrib">
						<h3>ABAZOO WEBSITE</h3>
						<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
						<a class="buttonS" href="" title="">Show project</a>
					</div>
					<img src="img/items-works6.png" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- / SECTION WORKS -->
</body>
</html>